@media screen and (min-width: 769px) {
    .after {
        h2 {
            margin-bottom: 72px;
        }
    }
}

@media screen and (max-width: 768px) {
    .after {
        h2 {
            margin-bottom: clamp(22px, 7.11vw, 48px);
        }
    }
}

.after__one {
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        background-color: #fff;
    }
    h4 {
        font-weight: 700;
        color: var(--pink--primary);

        span {
            background-color: var(--pink--primary);
            color: #fff;
            font-weight: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    table {
        width: 100%;

        tbody {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1px;
        }

        tr {
            display: flex;
            flex-direction: column;
            gap: 1px;

            &:first-of-type {
                th {
                    background-color: var(--pink--primary);
                }
            }
            &:last-of-type {
                th {
                    background-color: var(--pink--dark);
                }
            }
        }

        th,
        td {
            display: flex;
            align-items: center;
        }

        th {
            text-align: center;
            color: #fff;
            font-weight: 700;

            justify-content: center;
        }

        td {
            text-align: left;

            justify-content: start;

            &:nth-of-type(odd) {
                background-color: var(--pink--very-light);
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .after__one {
        margin-bottom: 56px;

        h3 {
            font-size: 2.6rem;
        }
        ul {
            gap: 24px;
            margin-top: 48px;
        }
        li {
            padding: 26px 32px 32px;
            border-radius: 16px;

            p {
                font-size: 1.5rem;
                margin-top: 16px;
                line-height: 200%;
            }
        }
        h4 {
            font-size: 2rem;

            &:has(span) {
                display: grid;
                grid-template-columns: 112px auto;
                gap: 10px;
                align-items: center;
            }

            span {
                font-size: 1.5rem;
                height: 26px;
            }
        }
        > p {
            &:first-of-type {
                margin-top: 48px;
            }
        }
        table {
            margin-top: 24px;

            th {
                font-size: 1.8rem;
                height: 64px;
            }

            td {
                font-size: 1.6rem;
                height: 56px;
                padding: 0 32px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .after__one {
        margin-bottom: clamp(32px, 8.89vw, 48px);

        h3 {
            font-size: clamp(1.8rem, 4.75vw, 2.2rem);
        }
        h4 {
            font-size: clamp(1.3rem, 3.11vw, 1.8rem);

            &:has(span) {
                display: inline-flex;
                gap: 6px;
            }

            span {
                font-size: clamp(1rem, 2.67vw, 1.5rem);
                padding: 0 7px 1px;
            }
        }
        > p{
            &:first-of-type{
                margin-top: 20px;
            }
        }
        ul {
            gap: clamp(12px, 3.11vw, 16px);
            margin-top: 20px;
        }

        li {
            padding-top: clamp(18px, 4.44vw, 24px);
            padding-bottom: clamp(20px, 4.89vw, 24px);
            padding-right: clamp(10px, 2.67vw, 16px);
            padding-left: clamp(10px, 2.67vw, 16px);
            border-radius: 8px;

            p {
                font-size: var(--fsSp--min12px);
                margin-top: clamp(10px, 2.22vw, 14px);
                line-height: 165%;
            }
        }
        table{
            margin-top: 20px;

            tbody{
                display: grid;
                grid-auto-flow: column;
                grid-template-rows: clamp(48px, 12vw, 56px) repeat(5, auto);
            }

            tr{
                height: 100%;
                display: contents;
            }

            th,td{
                align-items: start;
                
                
            }

            th{
                font-size: clamp(1.3rem, 3.11vw, 1.5rem);
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 16px;
                padding-bottom: 16px;
            }

            td{
                font-size: var(--fsSp--min12px);
                padding-left: clamp(12px, 3.11vw, 14px);
                padding-right: clamp(12px, 3.11vw, 14px);
                padding-top: clamp(10px, 2.67vw, 16px);
                padding-bottom: clamp(10px, 2.67vw, 16px);
            }
        }
    }
}
