@media screen and (min-width: 769px) {
  .after h2 {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 768px) {
  .after h2 {
    margin-bottom: clamp(22px, 7.11vw, 48px);
  }
}
.after__one ul {
  display: flex;
  flex-direction: column;
}
.after__one li {
  background-color: #fff;
}
.after__one h4 {
  font-weight: 700;
  color: var(--pink--primary);
}
.after__one h4 span {
  background-color: var(--pink--primary);
  color: #fff;
  font-weight: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after__one table {
  width: 100%;
}
.after__one table tbody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.after__one table tr {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.after__one table tr:first-of-type th {
  background-color: var(--pink--primary);
}
.after__one table tr:last-of-type th {
  background-color: var(--pink--dark);
}
.after__one table th,
.after__one table td {
  display: flex;
  align-items: center;
}
.after__one table th {
  text-align: center;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}
.after__one table td {
  text-align: left;
  justify-content: start;
}
.after__one table td:nth-of-type(odd) {
  background-color: var(--pink--very-light);
}

@media screen and (min-width: 769px) {
  .after__one {
    margin-bottom: 56px;
  }
  .after__one h3 {
    font-size: 2.6rem;
  }
  .after__one ul {
    gap: 24px;
    margin-top: 48px;
  }
  .after__one li {
    padding: 26px 32px 32px;
    border-radius: 16px;
  }
  .after__one li p {
    font-size: 1.5rem;
    margin-top: 16px;
    line-height: 200%;
  }
  .after__one h4 {
    font-size: 2rem;
  }
  .after__one h4:has(span) {
    display: grid;
    grid-template-columns: 112px auto;
    gap: 10px;
    align-items: center;
  }
  .after__one h4 span {
    font-size: 1.5rem;
    height: 26px;
  }
  .after__one > p:first-of-type {
    margin-top: 48px;
  }
  .after__one table {
    margin-top: 24px;
  }
  .after__one table th {
    font-size: 1.8rem;
    height: 64px;
  }
  .after__one table td {
    font-size: 1.6rem;
    height: 56px;
    padding: 0 32px;
  }
}
@media screen and (max-width: 768px) {
  .after__one {
    margin-bottom: clamp(32px, 8.89vw, 48px);
  }
  .after__one h3 {
    font-size: clamp(1.8rem, 4.75vw, 2.2rem);
  }
  .after__one h4 {
    font-size: clamp(1.3rem, 3.11vw, 1.8rem);
  }
  .after__one h4:has(span) {
    display: inline-flex;
    gap: 6px;
  }
  .after__one h4 span {
    font-size: clamp(1rem, 2.67vw, 1.5rem);
    padding: 0 7px 1px;
  }
  .after__one > p:first-of-type {
    margin-top: 20px;
  }
  .after__one ul {
    gap: clamp(12px, 3.11vw, 16px);
    margin-top: 20px;
  }
  .after__one li {
    padding-top: clamp(18px, 4.44vw, 24px);
    padding-bottom: clamp(20px, 4.89vw, 24px);
    padding-right: clamp(10px, 2.67vw, 16px);
    padding-left: clamp(10px, 2.67vw, 16px);
    border-radius: 8px;
  }
  .after__one li p {
    font-size: clamp(1.2rem, 2.67vw, 1.4rem);
    margin-top: clamp(10px, 2.22vw, 14px);
    line-height: 165%;
  }
  .after__one table {
    margin-top: 20px;
  }
  .after__one table tbody {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: clamp(48px, 12vw, 56px) repeat(5, auto);
  }
  .after__one table tr {
    height: 100%;
    display: contents;
  }
  .after__one table th, .after__one table td {
    align-items: start;
  }
  .after__one table th {
    font-size: clamp(1.3rem, 3.11vw, 1.5rem);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .after__one table td {
    font-size: clamp(1.2rem, 2.89vw, 1.4rem);
    padding-left: clamp(12px, 3.11vw, 14px);
    padding-right: clamp(12px, 3.11vw, 14px);
    padding-top: clamp(10px, 2.67vw, 16px);
    padding-bottom: clamp(10px, 2.67vw, 16px);
  }
}/*# sourceMappingURL=style.css.map */