.about__main {
  margin-top: 128px;
  margin-bottom: 112px;
}
.about__main * {
  text-align: center;
}
.about__main img {
  margin: 0 auto;
  height: 46px;
}
.about__main h2 {
  font-size: 3rem;
  letter-spacing: 0.08em;
  line-height: 160%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.about__main h2 span {
  font-weight: 100;
  color: inherit;
  font-size: inherit;
}
.about__main p {
  font-size: 1.8rem;
  line-height: 188%;
  letter-spacing: 0.08em;
}
.about__main p + p {
  margin-top: 24px;
}

.about__features {
  background-color: var(--pink--very-light);
  padding-top: 40px;
  padding-bottom: 48px;
}

.about__commitment {
  background-color: #fff;
  background-image: repeating-linear-gradient(to bottom, var(--gray--very-light), var(--gray--very-light) 1px, transparent 0, transparent 32px), repeating-linear-gradient(to right, var(--gray--very-light), var(--gray--very-light) 1px, transparent 0, transparent 32px);
  padding-top: 80px;
  padding-bottom: 72px;
}
.about__commitment hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.about__commitment hgroup p {
  color: var(--pink--primary);
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.8rem;
  line-height: 100%;
}
.about__commitment hgroup h2 {
  gap: 0;
  line-height: 100%;
}
.about__commitment hgroup h2::before {
  margin-right: 10px;
}
.about__commitment hgroup h2::after {
  margin-left: 10px;
}
.about__commitment hgroup h2 em, .about__commitment hgroup h2 span {
  font-style: normal;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  align-self: end;
}
.about__commitment hgroup h2 em {
  font-size: 4.2rem;
}
.about__commitment hgroup h2 span {
  font-size: 2.5rem;
  margin-bottom: -5px;
}
.about__commitment > .row > p {
  text-align: center;
  margin-top: 32px;
  font-size: 1.5rem;
  line-height: 186%;
  margin-bottom: 48px;
}
.about__commitment ul {
  width: min(882px, 100%);
  margin: 0 auto;
}
.about__commitment li {
  display: grid;
  grid-template-columns: 126px auto;
  gap: 10px;
  align-items: center;
}
.about__commitment li p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--pink--primary);
  letter-spacing: 0.07em;
  line-height: 200%;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--pink--pale);
  text-decoration-style: dashed;
  text-underline-offset: 6px;
}

@media screen and (min-width: 769px) {
  .about__commitment ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    row-gap: 16px;
  }
}
.about__flow {
  margin-top: 72px;
}
.about__flow .row-nar > p {
  margin-top: 40px;
}
.about__flow ul {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__flow li {
  background-color: #fff;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.04);
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 64px;
  position: relative;
  border-radius: 12px;
}
.about__flow li img {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 26px;
  height: 26px;
}
.about__flow p {
  font-size: 1.6rem;
  line-height: 162%;
}
.about__flow .name {
  color: var(--pink--primary);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 14px;
}/*# sourceMappingURL=style.css.map */