.knowledge-one {
    .row-nar {
        > p {
            &:first-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .knowledge-one {
        .row-nar {
            > p {
                & + p {
                    margin-top: 24px;
                }
            }
        }
    }
    .btn {
        margin-top: 72px;
    }
}

@media screen and (max-width: 768px) {
    .knowledge-one {
        .row-nar {
            > p {
                & + p {
                    margin-top: clamp(16px, 4vw, 24px);
                }
            }
        }
    }
}

.knowledge-one__content {
    > p {
        a {
            font-weight: 700;
            color: var(--pink--primary);
            text-decoration: underline;

            &::before {
                display: none;
            }

            @media (hover: hover) {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    picture,
    img {
        max-width: 100%;
    }

    .text--center {
        text-align: center;
    }

    .dots {
        max-width: 4px;
    }
}

@media screen and (min-width: 769px) {
    .knowledge-one__content {
        margin-top: 120px;

        > p {
            &:first-of-type {
                margin-top: 48px;
            }
        }

        > img {
            margin: 56px auto 0;

            + p {
                margin-top: 72px;
            }
        }

        .dots {
            margin: 24px auto 0;

            & + p {
                margin-top: 32px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .knowledge-one__content {
        // margin-top: clamp();
    }
}
