.thumb {
  border-radius: 4px;
  overflow: hidden;
}
.thumb picture,
.thumb img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .thumb + .worry-one__details {
    margin-top: 96px;
  }
}
@media screen and (max-width: 768px) {
  .worry-one .row-nar > p:first-child {
    margin-bottom: clamp(24px, 5.33vw, 40px);
  }
  .thumb + .worry-one__details {
    margin-top: clamp(50px, 12.44vw, 72px);
  }
}
.worry-one__details a {
  color: var(--pink--primary);
  font-weight: 700;
  text-decoration: underline;
}
.worry-one__details a::before {
  display: none;
}
@media (hover: hover) {
  .worry-one__details a:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) {
  .worry-one__details h2 {
    margin-bottom: 40px;
  }
  .worry-one__details p + p {
    margin-top: 16px;
  }
  .worry-one__details + .worry-one__details {
    margin-top: 96px;
  }
}
@media screen and (max-width: 768px) {
  .worry-one__details h2 {
    margin-bottom: clamp(24px, 4.89vw, 32px);
  }
  .worry-one__details p + p {
    margin-top: clamp(10px, 2.22vw, 12px);
  }
  .worry-one__details + .worry-one__details {
    margin-top: clamp(48px, 10.67vw, 72px);
  }
}
.worry-one__attention {
  background-color: #fff;
  position: relative;
}
.worry-one__attention::before {
  content: "";
  background-image: url(../img/attention.svg);
  background-size: cover;
  position: absolute;
}
.worry-one__attention ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.worry-one__attention li {
  display: grid;
  grid-template-columns: 18px auto;
  gap: 2px;
}
.worry-one__attention li::before {
  content: "";
  background-image: url(../../../assets/img/common/icon/check.svg);
  background-size: cover;
}
.worry-one__attention a {
  color: var(--pink--primary);
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  .worry-one__attention {
    width: min(640px, 100%);
    padding: 24px 32px 24px 74px;
    margin: 48px auto 0;
  }
  .worry-one__attention::before {
    width: 96px;
    height: 96px;
    top: -22px;
    left: -34px;
  }
  .worry-one__attention li::before {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
  .worry-one__attention a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .worry-one__attention {
    width: 100%;
    padding-left: clamp(68px, 16.89vw, 86px);
    padding-top: clamp(20px, 4.44vw, 24px);
    padding-bottom: clamp(28px, 6.22vw, 32px);
    padding-right: clamp(13px, 3.25vw, 15px);
    margin-top: clamp(30px, 7.56vw, 38px);
  }
  .worry-one__attention::before {
    width: clamp(72px, 17.78vw, 88px);
    height: clamp(72px, 17.78vw, 88px);
    left: -16px;
    top: -20px;
  }
  .worry-one__attention li {
    display: block;
  }
  .worry-one__attention li::before {
    display: none;
  }
  .worry-one__attention a {
    font-size: clamp(1.3rem, 3.25vw, 1.5rem);
  }
}
.worry__list li.is-active {
  display: none;
}
.worry__list a {
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 132px;
  box-shadow: 4px 4px 0px 0px #f2d5e1;
}
.worry__list a::before {
  display: none;
}
.worry__list span {
  display: flex;
  align-items: center;
  color: var(--pink--primary);
  font-weight: 900;
  font-size: 1.3rem;
  gap: 6px;
}
.worry__list span::before, .worry__list span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../../../assets/img/common/icon/flower--ylw.svg);
  background-size: cover;
}
.worry__list .name {
  font-size: 2rem;
  line-height: 140%;
  font-weight: 900;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .worry__list {
    padding-top: 80px;
    padding-bottom: 72px;
  }
  .worry__list h2 {
    font-size: 2.6rem;
  }
  .worry__list ul {
    margin-top: 48px;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px 24px;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .worry__list {
    padding-top: clamp(36px, 8vw, 48px);
  }
  .worry__list ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px clamp(14px, 3.11vw, 24px);
  }
}
@media screen and (max-width: 768px) {
  .worry__list h2 {
    justify-content: center;
  }
  .worry__list h2::before, .worry__list h2::after {
    display: none;
  }
}
@media screen and (min-width: 451px) {
  .worry__list ul {
    display: grid;
  }
}/*# sourceMappingURL=children.css.map */