.thumb {
    & + .worry-one__details {
        margin-top: 96px;
    }
}

.worry-one__details {
    h2 {
        margin-bottom: 40px;
    }

    p {
        & + p {
            margin-top: 16px;
        }
    }

    a {
        color: var(--pink--primary);
        font-weight: 700;
        text-decoration: underline;

        &::before {
            display: none;
        }

        @media (hover: hover) {
            &:hover {
                text-decoration: none;
            }
        }
    }

    & + .worry-one__details {
        margin-top: 96px;
    }
}

.worry-one__attention {
    width: min(640px, 100%);
    background-color: #fff;
    padding: 24px 32px 24px 74px;
    margin: 48px auto 0;
    position: relative;

    &::before {
        content: "";
        width: 96px;
        height: 96px;
        background-image: url(../img/attention.svg);
        background-size: cover;
        position: absolute;
        top: -22px;
        left: -34px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    li {
        display: grid;
        grid-template-columns: 18px auto;
        gap: 2px;

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            background-image: url(../../../assets/img/common/icon/check.svg);
            background-size: cover;
            margin-top: 4px;
        }
    }

    a {
        font-size: 1.6rem;
        color: var(--pink--primary);
        font-weight: 700;
    }
}

.worry__list {
    padding-top: 80px;
    padding-bottom: 72px;

    h2 {
        font-size: 2.6rem;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px 24px;
        margin-top: 48px;
    }

    li {
        &.is-active {
            display: none;
        }
    }

    a {
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 132px;
        box-shadow: 4px 4px 0px 0px #f2d5e1;

        &::before {
            display: none;
        }
    }

    span {
        display: flex;
        align-items: center;
        color: var(--pink--primary);
        font-weight: 900;
        font-size: 1.3rem;
        gap: 6px;

        &::before,
        &::after {
            content: "";
            width: 10px;
            height: 10px;
            background-image: url(../../../assets/img/common/icon/flower--ylw.svg);
            background-size: cover;
        }
    }

    .name {
        font-size: 2rem;
        line-height: 140%;
        font-weight: 900;
        text-align: center;
    }
}
