.thumb {
  border-radius: 4px;
  overflow: hidden;
}
.thumb picture,
.thumb img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .thumb + .worry-one__details {
    margin-top: 96px;
  }
}
@media screen and (max-width: 768px) {
  .worry-one .row-nar > p:first-child {
    margin-bottom: clamp(24px, 5.33vw, 40px);
  }
  .thumb + .worry-one__details {
    margin-top: clamp(50px, 12.44vw, 72px);
  }
}
.worry-one__details span,
.worry-one__details a {
  color: var(--pink--primary);
  font-weight: 700;
}
.worry-one__details span {
  background: linear-gradient(to bottom, transparent 60%, #ffefa3 60%);
}
.worry-one__details a {
  text-decoration: underline;
}
.worry-one__details a::before {
  display: none;
}
@media (hover: hover) {
  .worry-one__details a:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) {
  .worry-one__details h2 {
    margin-bottom: 40px;
  }
  .worry-one__details p + p {
    margin-top: 16px;
  }
  .worry-one__details + .worry-one__details {
    margin-top: 96px;
  }
}
@media screen and (max-width: 768px) {
  .worry-one__details h2 {
    margin-bottom: clamp(24px, 4.89vw, 32px);
  }
  .worry-one__details p + p {
    margin-top: clamp(10px, 2.22vw, 12px);
  }
  .worry-one__details + .worry-one__details {
    margin-top: clamp(48px, 10.67vw, 72px);
  }
}
.worry-one__attention {
  background-color: #fff;
  position: relative;
}
.worry-one__attention::before {
  content: "";
}
.worry-one__attention ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.worry-one__attention li {
  display: grid;
  grid-template-columns: 18px auto;
  gap: 2px;
}
.worry-one__attention li::before {
  content: "";
  background-image: url(../../../assets/img/common/icon/check.svg);
  background-size: cover;
}
.worry-one__attention a {
  color: var(--pink--primary);
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  .worry-one__attention {
    width: min(640px, 100%);
    padding: 24px 32px 24px 74px;
    margin: 48px auto 0;
  }
  .worry-one__attention::before {
    position: absolute;
    width: 96px;
    height: 96px;
    top: -22px;
    left: -34px;
    background-image: url(../img/attention.svg);
    background-size: cover;
  }
  .worry-one__attention li::before {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
  .worry-one__attention a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .worry-one__attention {
    width: 100%;
    padding-left: 20px;
    padding-top: clamp(20px, 4.44vw, 24px);
    padding-bottom: clamp(28px, 6.22vw, 32px);
    padding-right: 20px;
    margin-top: clamp(30px, 7.56vw, 38px);
    margin-right: auto;
    margin-left: auto;
  }
  .worry-one__attention h3 {
    font-size: clamp(1.5rem, 3.33vw, 2rem);
    background-color: var(--pink--very-light);
    margin-bottom: 14px;
    border-radius: 4px;
    padding: 4px 0;
  }
  .worry-one__attention h3::after {
    content: "";
    width: clamp(15px, 3.33vw, 20px);
    height: clamp(15px, 3.33vw, 20px);
    background-image: url(../../../assets/img/common/icon/search--prm.svg);
    background-size: cover;
    display: inline-block;
  }
  .worry-one__attention::before {
    display: none;
  }
  .worry-one__attention li {
    display: block;
  }
  .worry-one__attention li::before {
    display: none;
  }
  .worry-one__attention a {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
}
.worry__list ul {
  display: grid;
}
.worry__list li.is-active {
  display: none;
}
.worry__list a {
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.worry__list a::before {
  display: none;
}
.worry__list span {
  display: flex;
  align-items: center;
  color: var(--pink--primary);
  font-weight: 900;
}
.worry__list span::before, .worry__list span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../../../assets/img/common/icon/flower--ylw.svg);
  background-size: cover;
}
.worry__list .name {
  line-height: 140%;
  font-weight: 900;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .worry__list {
    padding-top: 80px;
    padding-bottom: 72px;
  }
  .worry__list h2 {
    font-size: 2.6rem;
  }
  .worry__list ul {
    margin-top: 48px;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px 24px;
  }
  .worry__list a {
    height: 132px;
    gap: 10px;
  }
  .worry__list .name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .worry__list {
    padding-top: clamp(36px, 8vw, 48px);
  }
  .worry__list ul {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(12px, 2.67vw, 22px) clamp(14px, 3.11vw, 24px);
    margin-top: clamp(16px, 3.56vw, 32px);
    width: min(580px, 100%);
    margin-right: auto;
    margin-left: auto;
  }
  .worry__list a {
    height: clamp(114px, 25.33vw, 132px);
    gap: clamp(6px, 1.33vw, 8px);
  }
  .worry__list .name {
    font-size: clamp(1.6rem, 3.56vw, 2rem);
  }
}
@media screen and (max-width: 768px) {
  .worry__list h2 {
    justify-content: center;
  }
  .worry__list h2::before, .worry__list h2::after {
    display: none;
  }
}
@media screen and (min-width: 451px) {
  .worry__list a {
    box-shadow: 4px 4px 0px 0px #f2d5e1;
  }
  .worry__list span {
    font-size: 1.3rem;
    gap: 6px;
  }
}
@media screen and (max-width: 450px) {
  .worry__list {
    padding-top: clamp(32px, 7.11vw, 40px);
    padding-bottom: clamp(40px, 8.89vw, 48px);
  }
  .worry__list ul {
    grid-template-columns: repeat(2, 1fr);
    margin-top: clamp(16px, 4vw, 18px);
    gap: clamp(12px, 2.67vw, 16px);
  }
  .worry__list a {
    height: clamp(80px, 25vw, 96px);
    gap: 5px;
    box-shadow: 3px 3px 0px 0px #f2d5e1;
  }
  .worry__list span {
    font-size: clamp(0.7rem, 2.22vw, 1rem);
    gap: 5px;
  }
  .worry__list span::before, .worry__list span::after {
    width: clamp(6px, 1.78vw, 8px);
    height: clamp(6px, 1.78vw, 8px);
  }
  .worry__list .name {
    font-size: clamp(1.1rem, 3.44vw, 1.4rem);
  }
}/*# sourceMappingURL=children.css.map */