.voice__comment-list {
    display: flex;
    flex-wrap: wrap;

    li {
        letter-spacing: 0.03em;
        line-height: 186%;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
        position: relative;

        &::before {
            content: "";
            background-image: url(../img/dq.svg);
            position: absolute;
            background-size: cover;
        }

        &:nth-of-type(odd) {
            &::before {
                left: 0;
            }
        }

        &:nth-of-type(even) {
            &::before {
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .voice__satisfaction {
        margin-bottom: 96px;
    }

    .voice__comment {
        margin-top: 112px;
    }

    .voice__comment-list {
        gap: 34px 32px;
        margin-top: 48px;

        li {
            font-size: clamp(1.3rem, 1.27vw, 1.5rem);
            border-radius: 16px;
            padding: 34px 40px 40px;

            &::before {
                width: 40px;
                height: 30px;
            }

            &:nth-of-type(odd) {
                &::before {
                    top: -18px;
                }
            }
            &:nth-of-type(even) {
                &::before {
                    bottom: -16px;
                }
            }
        }

        [data-comment-li="1"] {
            width: 610px;
            width: calc(61% - 16px);
        }
        [data-comment-li="2"] {
            width: 358px;
            width: calc(35.8% - 16px);
        }
        [data-comment-li="3"] {
            width: 400px;
            width: calc(40% - 16px);
            margin-left: -10px;
        }
        [data-comment-li="4"] {
            width: 588px;
            width: calc(58.8% - 16px);
            margin-right: -10px;
        }
        [data-comment-li="5"] {
            width: 538px;
            width: calc(53.8% - 16px);
        }
        [data-comment-li="6"] {
            width: 430px;
            width: calc(43% - 16px);
        }
    }
}

@media screen and (max-width: 768px) {
    .voice__satisfaction {
        margin-bottom: clamp(56px, 14.22vw, 88px);
    }

    .voice__comment {
        margin-top: clamp(48px, 10.67vw, 80px);
    }

    .voice__comment-list {
        gap: clamp(14px, 4vw, 24px);
        margin-top: clamp(22px, 5.5vw, 40px);

        li {
            font-size: var(--fsSp--min12px);
            padding: clamp(20px, 6vw, 40px);
            padding-top: clamp(18px, 5vw, 34px);
            border-radius: 12px;
            width: 90%;

            &::before {
                width: 30px;
                height: 22px;
            }

            &:nth-of-type(odd) {
                min-width: 64%;

                &::before{
                    top: -10px;
                }
            }
            &:nth-of-type(even) {
                min-width: 78%;
                margin-left: auto;

                &::before {
                    bottom: unset;
                    transform: scale(-1, -1);
                    top: -10px;
                }
            }
        }
    }
}
