.content__evolution-area {
    > dl {
        width: 100%;
        dt {
            padding: 10px;
            margin-bottom: 10px;
            font-weight: 700;
            color: var(--pink--primary);
            background-color: var(--pink--very-light);
        }
        dd {
            line-height: 170%;
            span {
                color: var(--pink--primary);
            }
        }
    }
}
@media screen and (min-width: 769px) {
    .content__evolution-area {
        > dl {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            dt {
                font-size: 1.7rem;
            }
            dd {
                padding-left: 10px;
                font-size: 1.6rem;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .content__evolution-area {
        > dl {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            dt {
                font-size: var(--fs-sp--min13px);
                &:not(:last-child) {
                    margin-bottom: 14px;
                }
            }
            dd {
                font-size: var(--fs-sp--min12px);
            }
        }
    }
}