.content__evolution-area {
    > dl {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        dt,dd {
            box-sizing: border-box;
        }
        dt {
            display: flex;
            align-items: center;
            width: 30%;
            padding: 10px;
            font-weight: 700;
            color: var(--pink--primary);
            background-color: var(--pink--very-light);
        }
        dd {
            width: 70%;
            padding-left: 20px;
            span {
                color: var(--pink--primary);
            }
        }
    }
}
@media screen and (min-width: 769px) {
    .content__evolution-area {
        > dl {
            dt {
                font-size: 1.7rem;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            dd {
                font-size: 1.6rem;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .content__evolution-area {
        > dl {
            dt {
                font-size: clamp(1.3rem, 3.5vw, 1.6rem);
                &:not(:last-child) {
                    margin-bottom: 14px;
                }
            }
            dd {
                font-size: clamp(1.2rem, 3vw, 1.5rem);
            }
        }
    }
}