.title {
    background-color: var(--pink--very-light);

    &.gchild {
        hgroup {
            align-items: start;

            h1 {
                text-align: left;
            }
        }
    }

    hgroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--pink--primary);
        animation: childrenTitle 600ms ease-in forwards;

        * {
            color: inherit;
        }

        span {
            line-height: 100%;
            font-weight: 700;
            letter-spacing: 0.02em;
            display: flex;
            align-items: baseline;
            justify-content: center;
            text-align: center;
            gap: 6px;

            &::before,
            &::after {
                content: "";
                background-image: url(../img/common/icon/flower--ylw.svg);
                background-size: cover;
            }
        }

        h1 {
            font-weight: 900;
            letter-spacing: 0.1em;
            text-align: center;
        }
    }
}

@keyframes childrenTitle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 769px) {
    .title {
        padding-top: 112px;
        padding-bottom: 112px;

        &.gchild {
            padding-top: 96px;
            padding-bottom: 96px;
        }

        hgroup {
            gap: 24px;

            span {
                font-size: 1.8rem;

                &::before,
                &::after {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        h1 {
            font-size: 4.3rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .title {
        padding-top: clamp(32px, 8.89vw, 48px);
        padding-bottom: clamp(32px, 7.56vw, 42px);

        &.gchild {
            padding-top: clamp(32px, 8.89vw, 48px);
            padding-bottom: clamp(32px, 8.89vw, 48px);
        }

        hgroup {
            gap: clamp(8px, 1.78vw, 10px);

            span {
                font-size: clamp(1.4rem, 3.5vw, 1.8rem);

                &::before,
                &::after {
                    width: clamp(12px, 3vw, 16px);
                    height: clamp(12px, 3vw, 16px);
                }
            }

            h1 {
                font-size: clamp(2.2rem, 5.33vw, 3.6rem);
                line-height: 130%;
            }
        }
    }
}

.breadcrumb {
    background-color: #f8e8ee;

    ul {
        height: 40px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    li {
        white-space: pre;

        &:has(img) {
            white-space: unset;
        }

        img {
            height: 10px;
            width: 10px;
        }
    }
    a {
        display: flex;
        align-items: center;
        font-size: inherit;

        @media (hover: hover) {
            &:not(:has(img)) {
                &::before {
                    background-color: var(--pink--primary);
                }
            }
        }
    }
    li:first-of-type {
        display: flex;
        align-items: center;
        gap: 4px;

        &::before {
            content: "";
            display: block;

            background-size: contain;
            background-image: url(../img/common/icon/home--prm.svg);
        }
    }
    li:not(:last-of-type) {
        a {
            font-weight: 500;
            color: var(--pink--primary);
        }
    }
}

@media screen and (min-width: 769px) {
    .breadcrumb {
        ul {
            gap: 16px;
        }
        li {
            font-size: 1.4rem;

            &:first-of-type {
                &::before {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .breadcrumb {
        ul {
            gap: clamp(6px, 2.22vw, 16px);
        }
        li {
            font-size: var(--fs-sp--min12px);

            &:first-of-type {
                &::before {
                    width: clamp(16px, 4vw, 18px);
                    height: clamp(16px, 4vw, 18px);
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .breadcrumb{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    h2,
    h3 {
        font-size: 3.4rem;
    }
}

@media screen and (max-width: 768px) {
    h2,
    h3 {
        &.flower {
            font-size: clamp(2.1rem, 5.75vw, 3rem);
        }
        &.dot-line {
            font-size: clamp(2rem, 5vw, 3rem);

            &:has(br) {
                line-height: 130%;
            }
        }
    }
}

.p-child {
    .row,
    .row-nar,
    .row-wide,
    section {
        > p {
            line-height: 187%;
        }
    }
    .att {
        &::before {
            content: "※";
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            display: inline;
        }
    }
    .att-list {
        display: flex;
        flex-direction: column;

        li {
            counter-increment: childAttention;

            &::before {
                content: "※" counter(childAttention);
                font-weight: inherit;
                color: inherit;
                display: inline;
                
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .p-child {
        .row,
        .row-nar,
        .row-wide {
            > p {
                &:first-child {
                    margin-top: 64px;
                    margin-bottom: 96px;
                }
            }
        }

        .row,
        .row-nar,
        .row-wide,
        section {
            > p {
                font-size: 1.6rem;
            }

            .att {
                font-size: 1.3rem;
                display: grid;
                grid-template-columns: 1.3rem auto;
                gap: 2px;
            }
        }

        .att-list{
            gap: 16px;
            margin-top: 48px;
            margin-bottom: 56px;
            margin-bottom: 34px;

            li{
                font-size: 1.3rem;
                line-height: 160%;
                display: grid;
                grid-template-columns: calc(1.3rem * 2) auto;
                gap: 2px;

                &::before{
                    margin-right: 6px;
                }
            }

            & +.att{
                margin-top: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .p-child {
        .row,
        .row-nar,
        .row-wide,
        section {
            > p {
                font-size: var(--fs-sp--min12px);

                &:first-child {
                    margin-top: clamp(32px, 8vw, 56px);
                    margin-bottom: clamp(56px, 14vw, 96px);
                }
            }

            > .att {
                font-size: var(--fs-sp--min10px);
                display: grid;
                grid-template-columns: var(--fs-sp--min10px) auto;
                gap: 2px;
            }
        }
        .att {
            font-size: var(--fs-sp--min10px);
        }
        .att-list{
            gap: 10px;
            margin-top: 20px;
            margin-bottom: 20px;

            li{
                font-size: var(--fs-sp--min10px);
                display: grid;
                grid-template-columns: calc(var(--fs-sp--min10px) * 2) auto;
                gap: 2px;

                &::before{
                    margin-right: 6px;
                }
            }
        }
    }
}

.cmn__search-shop {
    .row-nar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        line-height: 140%;
        color: var(--black);

        span {
            font-weight: inherit;
            color: var(--pink--primary);
            background: linear-gradient(to bottom, transparent 60%, #ffefa3 60%);
        }
    }
}

.cmn__search-shop__btn {
    position: relative;
    width: min(640px, 100%);
    cursor: pointer;

    * {
        cursor: inherit;
    }

    .btn {
        width: 100%;
    }

    > img {
        position: absolute;
    }
}

@media screen and (min-width: 769px) {
    main {
        & + .cmn__search-shop {
            margin-top: 160px;
        }
    }

    .cmn__search-shop {
        padding-top: 40px;
        padding-bottom: 48px;

        .row-nar {
            gap: 24px;
        }

        h2 {
            font-size: 2.9rem;
        }
    }

    .cmn__search-shop__btn {
        transition: 0.3s;

        @media (hover: hover) {
            &:hover {
                transform: translate(5px, 5px);

                .btn {
                    a {
                        box-shadow: 0 0 0 #f1dbe3;
                    }
                }

                > img {
                    transform: rotate(-9deg);
                }
            }
        }
        .btn {
            a {
                height: 102px;
                font-size: 3rem;
                box-shadow: 5px 5px 0 #f1dbe3;

                @media (hover: hover) {
                    &:hover {
                        transform: none;
                    }
                }
            }
        }

        > img {
            left: -60px;
            top: -72px;
            width: 124px;
            transition: 0.3s;
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        & + .cmn__search-shop {
            margin-top: clamp(72px, 16.89vw, 120px);
        }
    }
    .cmn__search-shop {
        padding-top: clamp(24px, 8.13vw, 40px);
        padding-bottom: clamp(32px, 9.38vw, 48px);

        .row-nar {
            gap: clamp(3.75vw, 3.56vw, 24px);
        }

        h2 {
            font-size: clamp(1.7rem, 5.31vw, 2.9rem);
        }
    }

    .cmn__search-shop__btn {
        .btn {
            a {
                font-size: clamp(1.8rem, 4.89vw, 2.6rem);
                height: clamp(62px, 16vw, 90px);
                box-shadow: 4px 4px 0 #f1dbe3;
            }
        }

        > img {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .btm-btn-list {
        margin-top: 128px;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
            padding: 24px 0;
        }

        .btn {
            a {
                padding-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .btm-btn-list {
        margin-top: clamp(64px, 17.78vw, 80px);

        ul {
            display: flex;
            padding: 22px 0;
        }

        .btn {
            a {
                padding-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    .btm-btn-list {
        ul {
            flex-wrap: wrap;
            padding: 32px 0;
            gap: clamp(12px, 4vw, 24px);

            .btn {
                width: calc(50% - calc(clamp(12px, 4vw, 24px) / 2));

                a {
                    height: clamp(60px, 13.33vw, 72px);
                    font-size: clamp(1.5rem, 3.33vw, 2.2rem);
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .btm-btn-list {
        ul {
            flex-direction: column;
            gap: 12px;
        }
    }
}
