@charset "UTF-8";
.title {
  background-color: var(--pink--very-light);
  padding-top: 112px;
  padding-bottom: 112px;
}
.title.gchild {
  padding-top: 96px;
  padding-bottom: 96px;
}
.title.gchild hgroup {
  align-items: start;
}
.title hgroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  color: var(--pink--primary);
}
.title hgroup * {
  color: inherit;
}
.title hgroup span {
  font-size: min(1.8rem, 18px);
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.02em;
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  gap: 6px;
}
.title hgroup span::before, .title hgroup span::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/common/icon/flower--ylw.svg);
  background-size: cover;
}
.title hgroup h1 {
  font-size: min(4.3rem, 43px);
  font-weight: 900;
  letter-spacing: 0.07em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    padding-top: clamp(32px, 8.89vw, 48px);
    padding-bottom: clamp(32px, 7.56vw, 42px);
  }
  .title.gchild {
    padding-top: clamp(32px, 8.89vw, 48px);
    padding-bottom: clamp(32px, 8.89vw, 48px);
  }
  .title hgroup {
    gap: clamp(8px, 1.78vw, 10px);
  }
  .title hgroup span {
    font-size: clamp(1.4rem, 3.5vw, 1.8rem);
  }
  .title hgroup span::before, .title hgroup span::after {
    width: clamp(12px, 3vw, 16px);
    height: clamp(12px, 3vw, 16px);
  }
  .title hgroup h1 {
    font-size: clamp(2.5rem, 4.69vw, 3.6rem);
    line-height: 130%;
  }
}
.breadcrumb {
  background-color: #f8e8ee;
}
.breadcrumb ul {
  height: 40px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.breadcrumb li {
  white-space: pre;
}
.breadcrumb li:has(img) {
  white-space: unset;
}
.breadcrumb li img {
  height: 10px;
  width: 10px;
}
.breadcrumb a {
  display: flex;
  align-items: center;
  font-size: inherit;
}
@media (hover: hover) {
  .breadcrumb a:not(:has(img))::before {
    background-color: var(--pink--primary);
  }
}
.breadcrumb li:first-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}
.breadcrumb li:first-of-type::before {
  content: "";
  display: block;
  background-size: contain;
  background-image: url(../img/common/icon/home--prm.svg);
}
.breadcrumb li:not(:last-of-type) a {
  font-weight: 500;
  color: var(--pink--primary);
}

@media screen and (min-width: 769px) {
  .breadcrumb ul {
    gap: 16px;
  }
  .breadcrumb li {
    font-size: 1.4rem;
  }
  .breadcrumb li:first-of-type {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .breadcrumb ul {
    gap: clamp(6px, 2.22vw, 16px);
  }
  .breadcrumb li {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
  }
  .breadcrumb li:first-of-type::before {
    width: clamp(16px, 4vw, 18px);
    height: clamp(16px, 4vw, 18px);
  }
}
@media screen and (min-width: 769px) {
  h2,
  h3 {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 768px) {
  h2.flower,
  h3.flower {
    font-size: clamp(2.1rem, 5.75vw, 3rem);
  }
  h2.dot-line,
  h3.dot-line {
    font-size: clamp(2rem, 5vw, 3rem);
  }
}
.p-child .row > p:first-child,
.p-child .row-nar > p:first-child,
.p-child .row-wide > p:first-child {
  margin-top: 64px;
  margin-bottom: 96px;
}
.p-child .row > p,
.p-child .row-nar > p,
.p-child .row-wide > p,
.p-child section > p {
  font-size: 1.6rem;
  line-height: 187%;
}
.p-child .att {
  font-size: 1.3rem;
}
.p-child .att::before {
  content: "※";
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  display: inline;
}

@media screen and (max-width: 768px) {
  .p-child .row > p,
  .p-child .row-nar > p,
  .p-child .row-wide > p {
    font-size: clamp(1.3rem, 3.25vw, 1.5rem);
  }
  .p-child .row > p:first-child,
  .p-child .row-nar > p:first-child,
  .p-child .row-wide > p:first-child {
    margin-top: clamp(32px, 8vw, 56px);
    margin-bottom: clamp(56px, 14vw, 96px);
  }
}
.cmn__search-shop .row-nar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cmn__search-shop h2 {
  line-height: 140%;
  color: var(--black);
}
.cmn__search-shop h2 span {
  font-weight: inherit;
  color: var(--pink--primary);
  background: linear-gradient(to bottom, transparent 60%, #ffefa3 60%);
}

.cmn__search-shop__btn {
  position: relative;
  width: min(640px, 100%);
}
.cmn__search-shop__btn .btn {
  width: 100%;
}
.cmn__search-shop__btn span {
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  z-index: 2;
}
.cmn__search-shop__btn > img {
  position: absolute;
}

@media screen and (min-width: 769px) {
  main + .cmn__search-shop {
    margin-top: 160px;
  }
  .cmn__search-shop {
    padding-top: 40px;
    padding-bottom: 48px;
  }
  .cmn__search-shop .row-nar {
    gap: 24px;
  }
  .cmn__search-shop h2 {
    font-size: 2.9rem;
  }
  .cmn__search-shop__btn .btn a {
    height: 102px;
    font-size: 3rem;
    padding-top: 22px;
  }
  .cmn__search-shop__btn span {
    font-size: 1.7rem;
    top: 20px;
  }
  .cmn__search-shop__btn > img {
    left: -60px;
    top: -72px;
    width: 124px;
  }
}
@media screen and (max-width: 768px) {
  main + .cmn__search-shop {
    margin-top: clamp(72px, 16.89vw, 120px);
  }
  .cmn__search-shop {
    padding-top: clamp(24px, 8.13vw, 40px);
    padding-bottom: clamp(32px, 9.38vw, 48px);
  }
  .cmn__search-shop .row-nar {
    gap: clamp(3.75vw, 3.56vw, 24px);
  }
  .cmn__search-shop h2 {
    font-size: clamp(1.7rem, 5.31vw, 2.9rem);
  }
  .cmn__search-shop__btn .btn a {
    padding-top: clamp(12px, 3.33vw, 20px);
  }
  .cmn__search-shop__btn span {
    font-size: clamp(1rem, 2.44vw, 1.3rem);
    top: clamp(12px, 3.56vw, 18px);
  }
  .cmn__search-shop__btn > img {
    top: calc(-1 * clamp(20px, 3.33vw, 30px));
    left: -24px;
  }
}
@media screen and (max-width: 600px) {
  .cmn__search-shop__btn > img {
    display: none;
  }
}/*# sourceMappingURL=children.css.map */