:root {
    --black: #4a3e42;
    --gray--very-light: #f5f5f5;
    --pink--primary: #e5005a;
    --pink--pale: #f2d5e1;
    --pink--dusty-light: #f5ecf0;
    --pink--very-light: #faf1f5;
    --pink--dark: #d20754;
    --green--middle: #65b005;
    --blue--middle: #1492d9;
    --yellow--dark: #c3850b;
    --fs-sp--min10px: clamp(1rem, 3vw, 1.2rem);
    --fs-sp--min11px: clamp(1.1rem, 3.25vw, 1.3rem);
    --fs-sp--min12px: clamp(1.2rem, 3.5vw, 1.4rem);
    --fs-sp--min13px: clamp(1.3rem, 3.75vw, 1.5rem);
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    touch-action: manipulation;
}
body {
    background-color: #fafafa;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.04em;
    font-weight: normal;
    color: var(--black);
    font-kerning: auto;
    font-family: "Onest", "Noto Sans JP", sans-serif;
    font-feature-settings: "halt";
    font-weight: 400;

    &::before,
    &::after {
        display: block;
    }
}
picture,
img {
    display: block;
    width: auto;
    height: auto;
}
iframe {
    aspect-ratio: 16/9;
    background-color: #ccc;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    display: block;
}
a {
    &:has(picture),
    &:has(img) {
        display: block;
    }

    @media (hover: hover) {
        &:not(:has(img)) {
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                border-radius: 5vw;
                background-color: var(--black);
                transition: 0.3s;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
        &:has(img) {
            transition: 0.3s;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
details {
    summary {
        list-style: none;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }
    }
}
table {
    border-collapse: collapse;
    width: 100%;
}
:target {
    scroll-margin-top: 100px;
}

.ext,
.ext-fff {
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: cover;
    }
}
.ext {
    &::after {
        background-image: url(../img/common/icon/ext.svg);
    }
}
.ext-fff {
    &::after {
        background-image: url(../img/common/icon/ext--fff.svg);
    }
}

.container,
.row-wide,
.row,
.row-nar {
    margin: 0 auto;
}

.container {
    max-width: calc(1400px + 30px + 30px);
}

.row-wide {
    max-width: calc(1200px + 30px + 30px);
}

.row {
    max-width: calc(1000px + 30px + 30px);
}

.row-nar {
    max-width: calc(840px + 24px + 24px);
}

@media screen and (min-width: 769px) {
    .container,
    .row-wide,
    .row {
        padding: 0 30px;
    }
    .row-nar {
        padding: 0 24px;
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    .container,
    .row-wide,
    .row,
    .row-nar {
        padding: 0 20px;
    }
}

@media screen and (max-width: 450px){
    .container, .row-wide, .row, .row-nar{
        padding: 0 15px;
    }
}

/* headlines */

h1,
h2,
h3 {
    font-feature-settings: "palt";
}

@media screen and (min-width: 769px) {
    h1,
    h2,
    h3 {
        line-height: 100%;
    }
}

h2,
h3 {
    color: var(--pink--primary);
    white-space: pre;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-align: center;

    &.dot-line {
        display: flex;
        align-items: center;

        &::before,
        &::after {
            content: "";
            width: auto;
            width: 100%;
            background-image: radial-gradient(#e5afc7 30%, transparent 30%);
        }
    }
    &.flower {
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: "";
            background-image: url(../img/common/icon/flower--ylw.svg);
            background-size: cover;
        }
    }

    &.flowers {
        display: flex;
        justify-content: center;
        align-items: center;

        &::before,
        &::after {
            content: "";
            background-image: url(../img/common/icon/flower--ylw.svg);
            background-size: cover;
        }
    }
}

@media screen and (min-width: 769px) {
    h2,
    h3 {
        &.dot-line {
            gap: 16px;

            &::before,
            &::after {
                height: 8px;
                background-size: 8px;
            }
        }
        &.flower {
            gap: 8px;

            &::before {
                width: 20px;
                height: 20px;
            }
        }

        &.flowers {
            gap: 12px;

            &::before,
            &::after {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    h2,
    h3 {
        &.dot-line {
            gap: clamp(8px, 2.5vw, 12px);

            &::before,
            &::after {
                height: clamp(7px, 1.56vw, 8px);
                background-size: clamp(7px, 1.56vw, 8px);
            }
        }
        &.flower {
            gap: clamp(6px, 1.5vw, 8px);
            line-height: 140%;

            &::before {
                width: clamp(15px, 4vw, 18px);
                height: clamp(15px, 4vw, 18px);
            }
        }
        &.flowers {
            gap: clamp(8px, 2vw, 10px);

            &::before,
            &::after {
                width: clamp(15px, 4vw, 18px);
                height: clamp(15px, 4vw, 18px);
            }
        }
    }
}

/* dot bg*/

@media screen and (min-width: 769px) {
    .dots {
        background-size: 12px 12px;
    }
}

@media screen and (max-width: 768px) {
    .dots {
        background-size: 8px 8px;
    }
}

.bg--pale {
    background-color: var(--pink--pale);

    &.dots {
        background-image: radial-gradient(#ecc4d4 30%, transparent 30%);
    }
}

.bg--dusty {
    background-color: var(--pink--dusty-light);

    &.dots {
        background-image: radial-gradient(#f1dbe3 30%, transparent 30%);
    }
}

@media screen and (max-width: 768px){
    .bg--dusty{
        &.dots{
            background-image: radial-gradient(#f6e1e9 30%, transparent 30%);
        }
    }
}

.bg--light {
    background-color: var(--pink--very-light);

    &.dots {
        background-image: radial-gradient(#f7e8ef 30%, transparent 30%);
    }
}

/* btn */

.btn {
    margin: 0 auto;

    a {
        background-color: var(--pink--primary);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 700;
        border-radius: 50vw;
        transition: 0.3s;

        &::after {
            content: "";
            background-image: url(../img/common/icon/arrow--fff.svg);
            transition: inherit;
            background-size: cover;
        }

        &::before {
            display: none;
        }

        @media (hover: hover) {
            &:hover {
                &::after {
                    transform: translateX(6px);
                }
            }
        }
    }
    
}

@media screen and (min-width: 769px) {
    .btn {
        width: min(400px, 100%);

        a {
            font-size: 2rem;
            height: 80px;
            gap: 6px;
            box-shadow: 5px 5px 0 #e9e9e9;
            padding-left: 12px;

            &::after {
                width: 12px;
                height: 12px;
            }

            @media (hover: hover) {
                &:hover {
                    transform: translate(5px, 5px);
                    box-shadow: 0 0 0 #e9e9e9;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .btn {
        width: min(460px, 100%);

        a {
            height: clamp(56px, 15vw, 80px);
            font-size: clamp(1.5rem, 4vw, 2.2rem);
            box-shadow: 4px 4px 0 #e9e9e9;
            gap: 4px;
            padding-left: 10px;

            &::after {
                width: 10px;
                height: 10px;
            }

            @media (hover: hover) {
                &:hover {
                    transform: translate(4px, 4px);
                    box-shadow: 0 0 0 #e9e9e9;
                }
            }
        }
    }
}

/* bg and btn */

@media screen and (min-width: 769px) {
    .bg--pale {
        .btn {
            a {
                box-shadow: 5px 5px 0 #efd0dd;

                @media (hover: hover) {
                    &:hover {
                        box-shadow: 0 0 0 #efd0dd;
                    }
                }
            }
        }
        &.dots {
            .btn {
                a {
                    box-shadow: 5px 5px 0 #ecc4d4;

                    @media (hover: hover) {
                        &:hover {
                            box-shadow: 0 0 0 #ecc4d4;
                        }
                    }
                }
            }
        }
    }

    .bg--light {
        .btn {
            a {
                box-shadow: 5px 5px 0 #efd0dd;

                @media (hover: hover) {
                    &:hover {
                        box-shadow: 0 0 0 #efd0dd;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .bg--pale {
        .btn {
            a {
                box-shadow: 4px 4px 0 #efd0dd;

                @media (hover: hover) {
                    &:hover {
                        box-shadow: 0 0 0 #efd0dd;
                    }
                }
            }
        }
        &.dots {
            .btn {
                a {
                    box-shadow: 4px 4px 0 #ecc4d4;

                    @media (hover: hover) {
                        &:hover {
                            box-shadow: 0 0 0 #ecc4d4;
                        }
                    }
                }
            }
        }
    }
    .bg--light {
        .btn {
            a {
                box-shadow: 4px 4px 0 #efd0dd;

                @media (hover: hover) {
                    &:hover {
                        box-shadow: 0 0 0 #efd0dd;
                    }
                }
            }
        }
    }
}

/* header */

.header {
    width: 100%;
    background-color: #fbfbfb;
    z-index: 9999;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.header--stick {
    position: fixed;
    top: 0;
    z-index: 9998;
    transform: translateY(-100%);
    transition: 0.5s;
    opacity: 0;

    &.is-visible {
        transform: none;
        opacity: 1;
    }

    .header__inner {
        gap: 22px;
        gap: clamp(16px, 1.56vw, 22px);
    }

    .header__exts {
        display: none;
    }

    .header__shop {
        a {
            font-weight: 500;
        }
    }
}

.header__logo {
    display: flex;
    margin: auto 0;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    a {
        font-weight: 500;

        @media (hover: hover) {
            &:not(:has(img)) {
                &::before {
                    background-color: var(--pink--primary);
                }
            }
        }
    }

    li {
        a {
            color: var(--pink--primary);
        }
    }
}

.header__nav {
    width: 100%;

    ul {
        display: flex;

        align-items: center;
    }

    a {
        letter-spacing: 0;
    }
}

.header__exts {
    ul {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .ext {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        &::after {
            background-image: url(../img/common/icon/ext--prm.svg);
        }
    }
}

.header__shop {
    a {
        background-color: var(--pink--primary);
        color: #fff;

        border-radius: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: pre;
        gap: 6px;
        font-size: clamp(1.4rem, 1.37vw, 1.7rem);
        transition: 0.4s;
        letter-spacing: 0;

        @media (hover: hover) {
            &:hover {
                background-color: #c2004c;
                opacity: 1;
            }
        }
    }
}
@media screen and (min-width: 1301px) {
    .header {
        height: clamp(108px, 10.55vw, 128px);
    }
    .header__logo {
        height: clamp(56px, 5.47vw, 65px);
    }
    .header--stick {
        height: clamp(94px, 9.18vw, 104px);

        .header__inner {
            flex-wrap: nowrap;
            align-items: center;

            a {
                font-weight: 500;
            }
        }
        .header__nav {
            ul {
                gap: clamp(14px, 1.5vw, 24px);
            }
        }
        .header__exts {
            display: none;
        }
        .header__shop {
            order: 3;

            a {
                font-size: clamp(1.4rem, 1.08vw, 1.5rem);
                padding: 0 clamp(22px, 1.69vw, 32px);
                height: clamp(50px, 3.85vw, 54px);
            }
        }
    }
    .header__inner {
        column-gap: clamp(22px, 2.15vw, 36px);
        row-gap: clamp(10px, 0.98vw, 18px);

        a {
            font-size: clamp(1.3rem, 1.08vw, 1.5rem);
        }
    }
    .header__nav {
        order: 3;

        ul {
            justify-content: end;
            gap: clamp(14px, 2vw, 32px);
        }
    }
    .header__exts {
        order: 1;

        ul {
            gap: clamp(16px, 1.56vw, 24px);
        }
    }
    .header__shop {
        order: 2;

        a {
            padding: 0 clamp(24px, 2.34vw, 32px);
            height: clamp(48px, 4.69vw, 56px);
        }
    }
    .header__btn {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    #header {
        position: sticky;
        top: 0;
    }
    .header {
        height: 88px;

        .container {
            position: relative;
        }

        a {
            &::before {
                display: none;
            }
        }

        &.is-active {
            .header__nav {
                top: 88px;
                animation: header-nav 0.2s ease-in forwards;
                opacity: 0;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        @keyframes header-nav {
            0% {
                opacity: 0;
                z-index: 1;
            }
            100% {
                opacity: 1;
                z-index: 1;
            }
        }
    }
    .header__inner {
        width: 100%;
        padding-left: 16px;
        align-items: center;
        flex-wrap: nowrap;
    }

    .header__nav {
        position: absolute;
        left: 0;
        right: 0;
        top: -100vw;
        z-index: -1;
        overscroll-behavior: contain;
        overflow-y: scroll;
        display: flex;
        height: calc(100vh - 88px);

        &::before {
            content: "";
            width: 1px;
            height: calc(100vh - 88px + 1px);
        }

        > ul {
            width: 100%;
            display: flex;
            flex-direction: column;

            > li,
            .header__exts {
                a {
                    display: flex;
                    justify-content: center;
                }
            }

            > li {
                width: 100%;
                text-align: center;

                &:nth-of-type(odd) {
                    background-color: var(--pink--very-light);
                }

                &:nth-of-type(even) {
                    background-color: #fff;
                }
            }
        }
    }

    .header__exts {
        width: 100%;
        background-color: #fff;

        ul {
            flex-direction: row;
            justify-content: center;

            li {
                display: flex;
                align-items: center;

                &:first-of-type {
                    flex-direction: row-reverse;
                    justify-content: end;

                    &::before {
                        content: "";
                        width: 1px;
                        background-color: var(--pink--primary);
                    }
                }

                &:last-of-type {
                    justify-content: start;
                }
            }
        }
    }

    .header__btn {
        width: 44px;
        height: 44px;

        button {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 7px;
        }

        span {
            display: block;
            width: 30px;
            height: 2px;
            background-color: var(--pink--primary);
            border-radius: 5vw;
            transition: 0.3s;

            &:first-of-type {
                transform-origin: left top;
            }

            &:last-of-type {
                transform-origin: left bottom;
            }
        }

        &.is-active {
            span {
                &:first-of-type {
                    transform: translateY(4px) rotate(20deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    transform: translateY(-4px) rotate(-20deg);
                }
            }
        }
    }
    .header__exts {
        ul {
            li {
                &:first-of-type {
                    &::before {
                        content: "";
                        width: 1px;
                        height: 20px;
                        background-color: var(--pink--primary);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) and (min-width: 769px) {
    .header__inner {
        justify-content: end;
        gap: 16px;

        a {
            font-size: 14px;
        }
    }
    .header__logo {
        height: 56px;
    }
    .header__nav {
        > ul {
            > li {
                &:first-of-type {
                    &::before {
                        height: 20px;
                    }
                }

                a {
                    padding: 22px 0;
                }
            }
        }
    }

    .header__exts {
        a {
            padding: 22px 16px;
        }
    }

    .header__shop {
        a {
            height: 52px;
            padding: 0 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: clamp(66px, 16.5vw, 80px);

        &.is-active {
            .header__nav {
                top: clamp(66px, 16.5vw, 80px);
            }
        }
    }
    .header__logo {
        height: clamp(42px, 10.5vw, 48px);

        img {
            height: 100%;
            width: auto;
        }
    }
    .header__inner {
        gap: clamp(6px, 1.5vw, 16px);

        a {
            font-size: var(--fs-sp--min13px);
        }
    }
    .header__shop {
        a {
            height: clamp(34px, 8.5vw, 48px);
            font-size: var(--fs-sp--min12px);
            padding: clamp(16px, 4vw, 24px);
        }
    }

    .header__nav {
        top: -100vh;
        height: calc(100vh - clamp(66px, 16.5vw, 80px));
        height: calc(100svh - clamp(66px, 16.5vw, 80px));

        &::before {
            height: calc(100vh - clamp(66px, 16.5vw, 80px) + 1px);
            height: calc(100svh - clamp(66px, 16.5vw, 80px) + 1px);
        }

        > ul {
            > li {
                a {
                    padding: 24px 0;
                }
            }
        }
    }

    .header__exts {
        a {
            padding: 24px 16px;
        }
        .ext {
            gap: 4px;
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        .container {
            padding: 0 8px 0 14px;
        }
    }
    .header__inner {
        padding-left: 0;
    }
}

/* footer */

footer {
    background-color: #f1f0f0;
    padding-bottom: 24px;

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(72px * 2 + 1000px);
    }

    > span {
        display: block;
        text-align: center;
    }

    a {
        @media (hover: hover) {
            &:not(:has(img)) {
                &::before {
                    background-color: var(--black);
                }
            }
        }
    }
}

.footer__site {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
            height: 100%;
        }
    }
}

.footer__map {
    width: 100%;
    display: flex;
    align-items: start;

    > span {
        display: block;
        width: 1px;
        height: 240px;
        background-color: var(--black);
        opacity: 0.6;
    }

    a {
        font-size: min(1.4rem, 14px);
        display: inline-flex;
        align-items: center;
        gap: 6px;

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            background-size: contain;
            background-image: url(../img/common/icon/arrow.svg);
        }
    }
}

.footer__quality {
    width: min(474px, 100%);
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        p {
            line-height: 156%;
        }
        span {
            display: inline-block;
            width: 100%;
            line-height: 100%;
            text-align: right;
        }
    }
}

.footer__nav {
    column-gap: clamp(60px, 5.86vw, 80px);
    grid-template-rows: repeat(7, 1fr);
}
.footer__shop {
    column-gap: 64px;
    grid-template-rows: repeat(6, 1fr);
}

.footer__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    p {
        text-align: center;
        font-size: min(1.4rem, 14px);
        line-height: 170%;
    }
}

.footer__exts {
    ul {
        display: flex;
        align-items: center;
    }

    .ext {
        display: flex;
        align-items: center;

        &::after {
            background-image: url(../img/common/icon/ext.svg);
            background-size: cover;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1040px) {
    .footer__map {
        > span {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    footer {
        > span {
            font-size: 1.2rem;
        }

        .row {
            padding: 56px 72px 0;
        }
    }
    .footer__map {
        justify-content: space-between;
        margin-top: 56px;

        > ul {
            display: grid;
            grid-auto-flow: column;
            row-gap: 24px;
        }
    }

    .footer__quality {
        width: min(474px, 100%);
        margin: 40px auto;
        padding: 0 24px;
        height: 104px;
        border-radius: 4px;
        gap: 10px;

        img {
            width: 72px;
        }

        div {
            p {
                font-size: 1.4rem;
            }
            span {
                font-size: 1.2rem;
                text-align: right;
                margin-top: 8px;
            }
        }
    }
    .footer__exts {
        margin-top: 48px;
        margin-bottom: 32px;

        ul {
            gap: 24px;
        }

        a {
            font-size: 1.3rem;
        }

        .ext {
            gap: 3px;

            &::after {
                height: 14px;
                width: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        > span {
            font-size: 1rem;
            padding: 0 10px;
        }
    }
    .footer__site {
        height: clamp(48px, 12vw, 65px);
        margin-top: clamp(32px, 10vw, 56px);
    }
    .footer__map {
        flex-direction: column;
        gap: clamp(32px, 8vw, 40px);
        max-width: 660px;
        margin-top: 32px;

        a {
            font-size: var(--fs-sp--min12px);;
        }

        > span {
            width: 100%;
            height: 1px;
        }

        > ul {
            gap: clamp(20px, 6vw, 26px) 10px;
        }
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
    }

    .footer__shop {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        width: 100%;

        li {
            &:first-of-type {
                grid-column: 1 /4;
            }
        }
    }

    .footer__quality {
        margin-top: clamp(32px, 8.89vw, 48px);
        margin-bottom: clamp(32px, 8.89vw, 48px);
        padding-top: 16px;
        padding-bottom: 18px;
        padding-right: clamp(14px, 4.89vw, 24px);
        padding-left: clamp(14px, 4.89vw, 24px);
        justify-content: start;
        gap: 16px;

        img {
            width: clamp(48px, 12.44vw, 72px);
        }

        div {
            width: 100%;

            p {
                font-size: min(1.3rem, 2.5vw);
            }
            span {
                font-size: calc(min(1.3rem, 2.5vw) * 0.8);
            }
        }
    }

    .footer__company {
        a {
            height: clamp(30px, 7.56vw, 48px);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
            }
        }
        p {
            font-size: min(2.5vw, 1.4rem);
        }
    }

    .footer__exts {
        margin-top: clamp(24px, 4vw, 24px);
        margin-bottom: clamp(20px, 6vw, 32px);

        ul {
            gap: 8px clamp(18px, 4vw, 24px);
            flex-wrap: wrap;
        }
        a {
            font-size: var(--fs-sp--min11px);;

            &::after {
                height: var(--fs-sp--min11px);;
                width: var(--fs-sp--min11px);;
            }
        }
        .ext {
            gap: 3px;
        }
    }
}

@media screen and (max-width: 450px) {
    .footer__quality {
        gap: 8px;

        div {
            p {
                font-size: min(1.2rem, 2.45vw);
            }
            span {
                font-size: calc(min(1.2rem, 2.4vw) * 0.85);
            }
        }
    }
}

/* about__features */

.about__features {
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    li {
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 24px 24px;
        position: relative;

        .indicator {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            position: relative;
            top: -16px;
        }

        .main-img {
            height: 136px;
            margin: 0 auto 4px;
        }

        .name {
            text-align: center;
            font-size: 2rem;
            line-height: 100%;
            color: var(--pink--primary);
            letter-spacing: 0.07em;
        }

        p {
            &:not(.name) {
                text-align: left;
                font-size: 1.3rem;
                line-height: 171%;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .about__features {
        li {
            .name {
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about__features {
        ul {
            display: flex;
            flex-direction: column;
            gap: clamp(24px, 6vw, 32px);
        }
        li {
            background-color: transparent;
            padding: 0;

            .indicator,
            .main-img {
                display: none;
            }

            .name {
                font-weight: 900;
                text-align: left;
                display: grid;
                grid-template-columns: clamp(17px, 4.5vw, 20px) auto;
                align-items: center;
                gap: clamp(5px, 1.5vw, 8px);
                font-size: clamp(1.7rem, 4.5vw, 2rem);

                &::before {
                    content: "";
                    width: clamp(17px, 4.5vw, 20px);
                    height: clamp(17px, 4.5vw, 20px);
                    background-image: url(../img/common/icon/flower--ylw.svg);
                    background-size: cover;
                }
            }

            p {
                &:not(.name) {
                    font-size: var(--fs-sp--min12px);
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}

/* voice__list */

.voice__list {
    width: 100%;

    img {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .voice__list {
        margin-top: 40px;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 26px 32px;
        }

        .swiper-button {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .voice {
        .att {
            font-size: clamp(1rem, 2.5vw, 1.3rem);
            margin-top: clamp(6px, 2vw, 10px);
        }
    }
    .voice__list {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: clamp(22px, 5.5vw, 40px);

        img {
            max-width: 500px;
            margin: 0 auto;
        }

        .swiper-slide {
            padding: 0 calc(clamp(30px, 7.5vw, 44px) / 2);
        }

        .swiper-button {
            width: 44px;
            width: clamp(30px, 7.5vw, 44px);
            height: 44px;
            height: clamp(30px, 7.5vw, 44px);
            background-color: var(--pink--pale);
            border-radius: 50vw;

            img {
                width: 32%;
            }

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            left: 0;

            img {
                transform: rotate(180deg);
            }
        }

        .swiper-button-next {
            right: 0;
        }
    }
}

/* faq__list */

.faq__list {
    display: flex;
    flex-direction: column;

    details {
        border-radius: 12px;
        background-color: var(--gray--very-light);

        div {
            line-height: 173%;
            overflow: hidden;
            max-height: 0;
        }

        &[open] {
            summary {
                &::before,
                &::after {
                    transform: rotate(45deg);
                }
            }
        }
    }
    summary {
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: 0.07em;
        position: relative;
        color: var(--pink--primary);

        &:before,
        &::after {
            content: "";
            background-color: var(--pink--primary);
            position: absolute;
            transition: 0.3s;
        }
        &::before {
            width: 16px;
            height: 2px;
            right: 0;
            top: calc(48px / 2 - 1px);
            margin-top: 4px;
        }
        &::after {
            height: 16px;
            width: 2px;
            top: 16px;
            right: calc(16px / 2 - 1px);
            margin-top: 4px;
        }
    }
}

@media screen and (min-width: 769px) {
    .faq__list {
        gap: 16px;

        details {
            padding: 16px 32px;

            &[open] {
                padding-bottom: 32px;
            }

            div {
                font-size: 1.5rem;
            }

            summary {
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 28px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .faq__list {
        gap: clamp(10px, 3vw, 16px);

        details {
            padding: clamp(8px, 2.25vw, 16px) clamp(16px, 4.5vw, 32px);

            div {
                font-size: var(--fs-sp--min12px);
            }

            &[open] {
                padding-bottom: clamp(16px, 4.5vw, 32px);
            }
        }

        summary {
            font-size: var(--fs-sp--min13px);
            padding-top: clamp(8px, 2.25vw, 16px);
            padding-bottom: clamp(8px, 2.25vw, 16px);
            padding-right: calc(clamp(12px, 2.67vw, 16px) + 6px);

            &::before {
                width: clamp(12px, 2.67vw, 16px);
                top: calc(clamp(8px, 2.25vw, 16px) + calc(clamp(12px, 2.67vw, 16px) / 2) + 2px);
                margin-top: 0;
            }

            &::after {
                height: clamp(12px, 2.67vw, 16px);
                top: calc(clamp(8px, 2.25vw, 16px) + 3px);
                right: calc(clamp(12px, 2.67vw, 16px) / 2 - 1px);
                margin-top: 0;
            }
        }
    }
}

#backToTop {
    background-color: var(--black);
    position: fixed;
    right: clamp(20px, 1.67vw, 40px);
    bottom: clamp(20px, 1.67vw, 40px);
    width: clamp(72px, 5.28vw, 84px);
    height: clamp(70px, 5.14vw, 80px);
    z-index: 9998;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        margin-bottom: 6px;
    }

    &.is-hidden {
        opacity: 0;
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    #backToTop {
        right: 20px;
        bottom: 20px;
        width: clamp(44px, 14.5vw, 72px);
        height: clamp(44px, 14.5vw, 72px);
        border-radius: 4px;

        img {
            width: 30%;
            height: auto;
            margin-bottom: 5%;
        }
    }
}

.cmn__search-shop--stick {
    position: fixed;
    z-index: 9998;
    right: 0;

    a {
        display: flex;
    }
}

@media screen and (min-width: 769px) {
    .cmn__search-shop--stick {
        top: 200px;
        width: clamp(64px, 5vw, 80px);

        a {
            width: 100%;
            background-color: #0076e5;
            writing-mode: vertical-lr;
            flex-direction: row;
            align-items: center;
            padding: 24px 0 32px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            gap: 8px;
            padding-left: 8px;

            @media (hover: hover){
                &:hover{
                    opacity: 1;
                    background-color: #0056d8;
                }
            }
        }

        img {
            width: 24px;
            height: 24px;
        }

        p {
            writing-mode: inherit;
            font-size: clamp(2.2rem, 1.6vw, 2.6rem);
            font-weight: 900;
            color: #fff;
            margin-left: -8px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cmn__search-shop--stick {
        left: 0;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        a {
            font-weight: 900;
            position: relative;
            align-items: center;
            justify-content: center;
            text-align: center;

            &::after {
                content: "";
                background-size: cover;
            }

            &:first-of-type {
                border: 2px solid #0071db;
                color: #0071db;
                background-color: #fafdff;
                background-image: url(../img/common/icon/phone.svg);
                background-repeat: no-repeat;
                background-position: -4px -4px;
                order: 2;

                &::after {
                    background-image: url(../img/common/icon/arrow--tel.svg);
                }
            }
            &:nth-of-type(2) {
                background-color: #0071db;
                color: #fff;
                border: 2px solid #fff;
                padding-top: 1%;
                order: 1;

                &::after {
                    background-image: url(../img/common/icon/arrow--fff.svg);
                }
            }

            p {
                font-weight: inherit;
                font-size: inherit;

                span {
                    font-weight: 700;
                }
            }

            p,
            span {
                color: inherit;
                line-height: 110%;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    .cmn__search-shop--stick {
        gap: clamp(8px, 1.78vw, 16px);
        bottom: clamp(8px, 1.78vw, 16px);
        padding: 0 clamp(10px, 2.22vw, 20px);

        a {
            border-radius: 6px;
            height: 80px;
            font-size: clamp(1.7rem, 3.78vw, 2.2rem);
            padding: 0 clamp(10px, 2.22vw, 24px);
            box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);

            &::after {
                width: 12px;
                height: 12px;
                right: 20px;
                position: absolute;
            }

            &:first-of-type {
                background-size: 88px;
            }

            p {
                span {
                    font-size: clamp(1.2rem, 2.89vw, 1.7rem);
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .cmn__search-shop--stick {
        gap: clamp(4px, 1.25vw, 8px);
        padding: 0 clamp(4px, 1.25vw, 8px);
        bottom: clamp(4px, 1.25vw, 8px);
        
        a {
            border-radius: 4px;
            height: clamp(54px, 16.88vw, 72px);
            font-size: clamp(1.3rem,  3.78vw, 1.7rem);
            padding: 0 clamp(10px, 3.25vw, 14px);
            box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);

            &::after {
                width: 10px;
                width: clamp(8px, 2.22vw, 10px);
                height: 10px;
                height: clamp(8px, 2.22vw, 10px);
                right: 8px;
                right: clamp(4px, 1.78vw, 8px);
                position: absolute;
            }

            &:first-of-type {
                background-size: calc(clamp(54px, 16.88vw, 72px) + 8px);
                
            }

            p {
                span {
                    font-size: clamp(0.9rem, 2.81vw, 1.4rem);
                }
            }

            p,
            span {
                line-height: 130%;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    body:has(.cmn__search-shop--stick) {
        footer {
            padding-bottom: calc(80px + clamp(10px, 2.22vw, 20px) + clamp(44px, 14.5vw, 72px) + 36px);
        }
        #backToTop {
            bottom: calc(80px + clamp(10px, 2.22vw, 20px) + 18px);
            right: clamp(10px, 2.22vw, 20px);
        }
    }
}

@media screen and (max-width: 450px) {
    body:has(.cmn__search-shop--stick) {
        footer {
            padding-bottom: calc(clamp(40px, 15.56vw, 70px) + clamp(44px, 14.5vw, 72px) + 10px + 24px);
        }
        #backToTop {
            bottom: clamp(68px, 19.56vw, 88px);
            right: 10px;
        }
    }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: relative;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;

    .swiper-pagination-bullet {
        margin: unset;
        border: 1px solid var(--pink--primary);
        background-color: transparent;
        opacity: 1;

        &[aria-current] {
            background-color: var(--pink--primary);
        }
    }
}
@media screen and (min-width: 769px) {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        gap: 8px;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        gap: clamp(6px, 1.33vw, 8px);

        .swiper-pagination-bullet {
            width: clamp(7px, 1.78vw, 10px);
            height: clamp(7px, 1.78vw, 10px);
        }
    }
}
.swiper-notification {
    display: none;
}

@media screen and (min-width: 769px) {
    .show_sp {
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .show_pc {
        display: none !important;
    }
}
@media screen and (min-width: 451px) {
    .show_sp-nar {
        display: none !important;
    }
}
