.header__logo{
    user-select: none;
    pointer-events: none;
}

.title.special{
    h1{
        span{
            font-size: inherit;
            display: inline;
            font-weight: 300;

            &::before, &::after{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 769px){
    .title.special{
        padding-top: 80px;
        padding-bottom: 72px;
    }
}

@media screen and (max-width: 768px){
    .title.special{
        padding-top: clamp(40px, 10.67vw, 64px);
        padding-bottom: clamp(34px, 9.78vw, 56px);
    }
}

footer{
    background-color: var(--black);
    padding-top: 24px;
    span{
        color: #fff;
    }
}