p {
    text-align: center;
}
img {
    margin: 0 auto;
}
.btn {
    a {
        flex-direction: row-reverse;

        &::after {
            transform: scale(-1, 1);
        }
    }
}
@media screen and (min-width: 769px) {
    .title {
        padding-top: 104px;
        padding-bottom: 96px;
    }
    .car06 {
        .row-nar {
            p {
                &:first-child {
                    margin-bottom: 46px;
                }
            }
        }
    }
    .btn {
        margin-top: 48px;

        a {
            gap: 12px;
        }
    }
}
