.guarantee-one {
    .row {
        p {
            &:first-child {
                margin-bottom: 0;
            }
        }
        > .att {
            font-size: 1.3rem;
            margin-top: 14px;
        }
    }
}

.guarantee-one__list {

    ul {
        display: grid;

        li {
            display: flex;
            flex-direction: column;
            gap: 4px;

            a {
                height: 35px;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--black);

                img {
                    width: 90%;
                }

                &::after {
                    display: none;
                }
            }

            > img {
                background-color: #fff;
                width: 100%;
            }
        }

        p {
            
            line-height: 120%;
        }
    }

    
}

.sumitomo-1-up {
    .btns {
        display: flex;
        flex-direction: column;
        gap: 4px;

        a {
            &:first-of-type {
                background-color: #c50018;
            }
            &:nth-of-type(2) {
                border: 1px solid #c50018;
                background-color: #fff;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .guarantee-one__list {
        margin-top: 96px;

        ul {
            margin-top: 48px;
            grid-template-columns: repeat(5, 1fr);
            gap: 32px 24px;

            p{
                font-size: 1.2rem;
            }
        }

        > .btn {
        margin-top: 96px;
    }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px){
    .guarantee-one__list{
        margin-top: clamp(48px, 10.67vw, 56px);
        
        ul{
            margin-top: clamp(18px, 4vw,24px);
            grid-template-columns: repeat(3,1fr);
            row-gap: clamp(24px,5.33vw,32px);
            column-gap: clamp(16px, 3.56vw, 22px);

            p{
                font-size: clamp(1rem, 2.22vw, 1.2rem);
            }
        }

        
    }
}

@media screen and (max-width: 768px){
    .guarantee-one{
        .row{
            > .att{
                font-size: clamp(1.1rem, 2.44vw,1.2rem);
            }
        }
    }

    .guarantee-one__list{
        ul{
            li{
                a{
                    &:has(img){
                        padding: 0 8px;

                        img{
                            height: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }

        > .btn{
            margin-top: clamp(40px, 8.89vw,56px);
        }
    }
}

@media screen and (max-width: 450px){
    .guarantee-one__list{
        margin-top: clamp(32px, 8.89vw, 40px);
        ul{
            grid-template-columns: repeat(2, 1fr);
            margin-top: clamp(16px, 4.44vw, 20px);
            column-gap: clamp(12px, 3.56vw,16px);
            row-gap: clamp(20px, 5.33vw, 24px);
        }
    }
}