:root {
  --green--very-light: #e5efd9;
  --blue--ver-light: #e3eff6;
}

.guarantee .row-wide > .att {
  color: var(--pink--primary);
}
.guarantee .row-wide > p:first-child {
  margin-bottom: 0;
}
.guarantee .row-wide > p + p {
  margin-top: 16px;
}

.guarantee-type__one {
  border-radius: 4px;
}
.guarantee-type__one h2 {
  line-height: 100%;
  color: #fff;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.guarantee-type__one ul {
  display: grid;
}
.guarantee-type__one a {
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}
@media (hover: hover) {
  .guarantee-type__one a:hover {
    opacity: 1;
  }
  .guarantee-type__one a:hover .name::after {
    transform: translateX(6px);
  }
}
.guarantee-type__one a picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guarantee-type__one .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--black);
  color: #fff;
  font-weight: 700;
}
.guarantee-type__one .name::after {
  content: "";
  background-image: url(../../../assets/img/common/icon/arrow--fff.svg);
  background-size: cover;
  transition: 0.3s;
}

[data-type=life] {
  background-color: var(--green--very-light);
}
[data-type=life] h2 {
  background-color: var(--green--middle);
}

[data-type=damage] {
  background-color: var(--blue--ver-light);
}
[data-type=damage] h2 {
  background-color: var(--blue--middle);
}

@media screen and (min-width: 769px) {
  .guarantee-type__one {
    margin-top: 80px;
    padding-bottom: 72px;
  }
  .guarantee-type__one h2 {
    font-size: 3.2rem;
    height: 70px;
    width: 220px;
    top: -24px;
    padding-top: 6px;
  }
  .guarantee-type__one ul {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 56px;
    gap: 24px clamp(24px, 2.34vw, 32px);
    margin-top: 16px;
  }
  .guarantee-type__one a {
    display: grid;
    grid-template-rows: 120px 48px;
  }
  .guarantee-type__one a img {
    height: min(90px, 100%);
  }
  .guarantee-type__one .name {
    font-size: clamp(1.4rem, 1.37vw, 1.5rem);
    line-height: 120%;
    padding: 0 12px 0 14px;
  }
  .guarantee-type__one .name::after {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .guarantee-type__one ul {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: clamp(8px, 1.78vw, 24px);
         column-gap: clamp(8px, 1.78vw, 24px);
    row-gap: clamp(8px, 2vw, 20px);
    margin-top: clamp(12px, 2.67vw, 24px);
    padding-bottom: clamp(24px, 5.33vw, 32px);
    padding-right: 8px;
    padding-left: 8px;
  }
  .guarantee-type__one a picture {
    padding-top: 16px;
    padding-bottom: 14px;
    max-height: 110px;
  }
}
@media screen and (max-width: 768px) {
  .guarantee-type__one {
    margin-top: clamp(24px, 7.11vw, 56px);
  }
  .guarantee-type__one h2 {
    font-size: clamp(2rem, 5.33vw, 2.8rem);
    padding-top: clamp(10px, 2.67vw, 16px);
    padding-bottom: clamp(8px, 2.22vw, 14px);
  }
  .guarantee-type__one a {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .guarantee-type__one .name {
    font-size: 1.4rem;
    height: 100%;
    min-height: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 12px;
  }
  .guarantee-type__one .name::after {
    width: clamp(10px, 2.22vw, 12px);
    height: clamp(10px, 2.22vw, 12px);
  }
}
@media screen and (max-width: 450px) {
  .guarantee-type__one {
    width: 100vw;
    margin-left: -15px;
    overflow-x: clip;
  }
  .guarantee-type__one + .guarantee-type__one {
    margin-top: 0;
  }
  .guarantee-type__one ul {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 52px;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(10px, 3.13vw, 14px);
  }
  .guarantee-type__one a picture {
    padding-top: 14px;
    padding-bottom: 12px;
  }
  .guarantee-type__one a img {
    width: 65%;
  }
  .guarantee-type__one .name {
    font-size: var(--fs-sp--min12px);
    padding-left: clamp(10px, 3.13vw, 14px);
    padding-right: clamp(8px, 2.5vw, 12px);
  }
  main + .cmn__search-shop {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */