.online-list {
  min-height: 70vh;
}

.online-list__tab-list ul {
  display: grid;
  gap: 8px;
}
.online-list__tab-list li {
  width: 100%;
  overflow: hidden;
}
.online-list__tab-list .region-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  font-size: min(1.6rem, 16px);
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  .online-list__tab-list {
    margin-top: 72px;
  }
  .online-list__tab-list ul {
    grid-template-columns: repeat(5, 1fr);
  }
  .online-list__tab-list li {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .online-list__tab-list .region-tab {
    height: 48px;
  }
  .online-list__tab-list .region-tab[aria-selected=true] {
    background-color: #fff;
    color: var(--pink--primary);
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .online-list__tab-list ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .online-list__tab-list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .online-list__tab-list {
    margin-top: clamp(16px, 4vw, 24px);
  }
  .online-list__tab-list li {
    border-radius: 4px;
  }
  .online-list__tab-list .region-tab {
    font-size: clamp(1.2rem, 3.25vw, 1.5rem);
    height: clamp(44px, 10.22vw, 48px);
  }
  .online-list__tab-list .region-tab[aria-selected=true] {
    background-color: var(--black);
    color: #fff;
  }
}
.online-list__shop-list {
  overflow-y: hidden;
}
.online-list__shop-list .row-nar {
  position: relative;
}

@media screen and (min-width: 769px) {
  .online-list__shop-list {
    background-color: #fff;
    padding-top: 64px;
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 768px) {
  .online-list__shop-list {
    padding-top: clamp(32px, 10.67vw, 48px);
    padding-bottom: 120px;
  }
}
.online-list__region-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.online-list__region-one[aria-hidden=false] {
  position: relative;
  width: 100%;
  z-index: 1;
  animation: shop-region 0.2s forwards;
}

@media screen and (max-width: 768px) {
  .online-list__region-one h2 {
    font-size: clamp(2.2rem, 5.33vw, 3.4rem);
  }
}
.online-list__pref-one tbody {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.online-list__pref-one tr {
  display: grid;
}
.online-list__pref-one td:nth-of-type(n + 3) {
  grid-column: 2/3;
}
.online-list__pref-one .area {
  background-color: var(--pink--very-light);
  color: var(--pink--primary);
  font-weight: 700;
  grid-row: 1/20;
}
.online-list__pref-one .shop a {
  font-weight: 500;
  display: inline-block;
}
.online-list__pref-one .shop a::after {
  content: "";
  background-image: url(../../../assets/img/common/icon/arrow.svg);
  background-size: cover;
  display: inline-block;
  margin-left: 4px;
}

@keyframes shop-region {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  .online-list__pref-one {
    margin-top: 32px;
  }
  .online-list__pref-one h3 {
    font-size: 2.8rem;
  }
  .online-list__pref-one table {
    margin-top: 32px;
  }
  .online-list__pref-one tr {
    grid-template-columns: 180px auto;
  }
  .online-list__pref-one td {
    font-size: 1.5rem;
  }
  .online-list__pref-one .area {
    padding: 14px 16px;
  }
  .online-list__pref-one .shop {
    padding-left: 18px;
  }
  .online-list__pref-one .shop a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .online-list__pref-one .shop a::after {
    width: 12px;
    height: 12px;
  }
  .online-list__pref-one + .online-list__pref-one {
    margin-top: 48px;
  }
}
@media screen and (max-width: 768px) {
  .online-list__pref-one {
    margin-top: clamp(16px, 3.56vw, 30px);
  }
  .online-list__pref-one h2 {
    font-size: clamp(1.8rem, 4.44vw, 2.6rem);
  }
  .online-list__pref-one table {
    margin-top: clamp(22px, 5.33vw, 40px);
  }
  .online-list__pref-one tr {
    grid-template-columns: clamp(88px, 23.56vw, 160px) auto;
  }
  .online-list__pref-one td {
    font-size: clamp(1.2rem, 2.89vw, 1.5rem);
  }
  .online-list__pref-one .area {
    padding-top: clamp(10px, 2.22vw, 14px);
    padding-bottom: clamp(10px, 2.22vw, 14px);
    padding-left: clamp(10px, 2.67vw, 16px);
  }
  .online-list__pref-one .shop {
    padding-left: clamp(10px, 2.67vw, 16px);
  }
  .online-list__pref-one .shop a {
    padding-top: clamp(10px, 2.22vw, 14px);
    padding-bottom: clamp(10px, 2.22vw, 14px);
  }
  .online-list__pref-one .shop a::after {
    width: 10px;
    height: 10px;
  }
  .online-list__pref-one + .online-list__pref-one {
    margin-top: clamp(48px, 10.67vw, 56px);
  }
}/*# sourceMappingURL=list.css.map */