.tel {
    padding-top: clamp(24px, 5.78vw, 40px);
    padding-bottom: clamp(88px, 19.56vw, 96px);

    ul {
        display: flex;
        flex-direction: column;
    }

    .row-nar {
        > ul {
            gap: clamp(12px, 2.67vw, 16px);

            ul{
                padding: 14px;
                gap: clamp(8px, 1.78vw, 10px);
            }
        }
    }

    summary {
        font-weight: 700;
        font-size: clamp(1.5rem, 3.33vw, 1.8rem);
        background-color: #fff;
        padding: 12px 14px;
        border-radius: 4px;
        color: var(--black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);

        &::after{
            content: '';
            width: 12px;
            height: 12px;
            background-image: url(../../../assets/img/common/icon/arrow--vert.svg);
            background-size: cover;
            transition: .3s;
        }
        
    }

    details[open]{
        summary{
            &::after{
                transform: rotate(180deg);
            }
        }
    }

    a {
        font-size: var(--fs-sp--min13px);
        text-decoration: underline;
        text-underline-offset: 2px;
        color: var(--pink--primary);

        &::before{
            display: none;
        }
    }
}
