.shop-one {
    padding-bottom: 0 !important;
}

.title {
    padding-top: 80px;
    padding-bottom: 80px;

    hgroup {
        align-items: start;
        gap: 16px;

        h1 {
            text-align: left;
        }

        div {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            align-items: center;
            display: none;
        }

        .pref {
            background-color: var(--pink--primary);
            padding: 8px 10px 5px 12px;
            color: #fff;
            font-size: 1.5rem;
        }

        .area {
            font-size: 1.6rem;
            padding-top: 2px;
        }

        span {
            &::before,
            &::after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .title {
        hgroup {
            div {
                gap: 8px;
            }
            .pref {
                font-size: clamp(1.3rem, 3.25vw, 1.5rem);
                padding: 6px 10px 5px 12px;
            }
            .area {
                font-size: clamp(1.4rem, 3.5vw, 1.6rem);
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    .title {
        padding-top: clamp(32px, 10vw, 64px);
        padding-bottom: clamp(32px, 10vw, 64px);
    }
}

@media screen and (max-width: 450px) {
    .title {
        padding-top: clamp(24px, 6.22vw, 28px);
        padding-bottom: clamp(22px, 6.22vw, 28px);
    }
}

@media screen and (max-width: 768px) {
    .shop-one__appointment {
        padding-top: clamp(20px, 5.33vw, 32px);
        padding-bottom: clamp(22px, 5.33vw, 40px);

        h2 {
            font-size: clamp(1.8rem, 4.89vw, 2.8rem);
        }

        .btns {
            display: flex;
            flex-direction: column;
            gap: clamp(8px, 2.22vw, 14px);
            margin-top: clamp(14px, 4.89vw, 24px);

            a {
                position: relative;
                padding-bottom: clamp(16px, 4.8vw, 26px);

                &::before {
                    all: unset;
                    display: block;
                    position: absolute;
                    bottom: clamp(9px, 2.44vw, 13px);
                    left: 0;
                    right: 0;
                    color: inherit;
                    font-size: clamp(1.1rem, 2.89vw, 1.6rem);
                    font-weight: 500;
                    height: auto;
                    background-color: transparent;
                    text-align: center;
                }

                &:first-of-type {
                    font-size: clamp(1.7rem, 4.2vw, 2.2rem);
                    &::before {
                        content: "ここをタップすると電話がかかります";
                    }
                }

                &:nth-of-type(2) {
                    &::before {
                        content: "当日30分前まで予約可能!";
                    }
                }
            }
        }
    }
}

.shop-one__main {
    margin-top: 64px;
    margin-bottom: 88px;
}

@media screen and (min-width: 769px) {
    .shop-one__main {
        .row-wide {
            display: grid;
            grid-template-columns: clamp(380px, 38.1vw, 480px) auto;
            gap: 32px 40px;
            gap: clamp(12px, 0.95vw, 32px) clamp(24px, 1.9vw, 40px);
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__main {
        margin-top: clamp(16px, 6vw, 32px);
        margin-bottom: clamp(48px, 12.44vw, 88px);

        .row-wide {
            display: flex;
            flex-direction: column;
        }
    }
}

.shop-one__slider {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;

    img {
        width: 100%;
    }

    .swiper-pagination {
        align-items: start;
    }
}

@media screen and (min-width: 769px) {
    .shop-one__slider {
        display: grid;
        grid-template-rows: 1fr 10px;

        .swiper-slide {
            height: auto;
        }
        .swiper-pagination {
            height: 8px;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__slider {
        width: min(480px, 100%);
        margin: 0 auto;
        order: 1;

        .swiper-slide {
            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        .swiper-pagination {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .shop-one__slider {
        .swiper-pagination {
            justify-content: end;
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__details {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 768px) {
    .shop-one__details {
        margin-top: clamp(20px, 5vw, 40px);
        order: 3;
    }
}

.shop-one__notice {
    background-color: var(--pink--very-light);
    width: 100%;

    p {
        em {
            color: var(--pink--primary);
            font-weight: 700;
            font-style: normal;
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__notice {
        padding-top: 24px;
        padding-bottom: 26px;
        padding-left: 24px;
        padding-right: 24px;
        border-start-end-radius: 8px;
        margin-bottom: 24px;

        p {
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__notice {
        padding-top: clamp(16px, 3.56vw, 24px);
        padding-left: clamp(16px, 3.56vw, 24px);
        padding-right: clamp(16px, 3.56vw, 24px);
        padding-bottom: clamp(20px, 4.44vw, 24px);
        margin-bottom: 40px;

        p {
            font-size: clamp(1.2rem, 2.67vw, 1.4rem);
        }
    }
}

.shop-one__table {
    width: 100%;

    tbody {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    th {
        background-color: var(--pink--dusty-light);
        padding: 16px 18px 18px 20px;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;

        p {
            color: var(--pink--primary);
            font-weight: 700;
        }
    }

    td {
        &:has(.file) {
            display: flex;
            flex-direction: column;
        }
        .file {
            background-color: var(--black);
            color: #fff;
            font-weight: 700;
            display: inline-flex;
            align-items: center;
            margin-right: auto;

            &::after {
                content: "";
                background-image: url(../../../assets/img/common/icon/arrow--fff.svg);
                background-size: cover;
            }

            &.ext-fff {
                &::after {
                    background-image: url(../../../assets/img/common/icon/ext--fff.svg);
                }

                @media (hover: hover) {
                    &:hover {
                        transform: none;

                        &::after {
                            transform: none;
                        }
                    }
                }
            }

            span {
                font-weight: inherit;
                background-color: #fff;
            }
        }
        &[data-shop="access"] {
            a {
                &:not(.file) {
                    &::after {
                        content: "";
                        display: inline-block;
                        background-image: url(../../../assets/img/common/icon/ext.svg);
                        background-size: cover;
                    }
                }
            }
        }
        &[data-shop="businessHours"] {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;

            &:has(p:nth-child(4)) {
                p {
                    width: 100%;
                }
            }

            p {
                margin-left: 4px;
            }
        }

        &[data-shop="fax"] {
            a {
                text-decoration: none;
            }
        }

        &[data-shop="access"],
        &[data-shop="email"] {
            a {
                &:not(.file) {
                    text-decoration: underline;
                    text-underline-offset: 1px;
                }
            }
        }

        .weekdays,
        .weekend {
            background-color: var(--pink--primary);
            color: #fff;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.02em;
            padding: 6px 8px 4px;
        }
        .att {
            margin-top: 10px;
        }
        a {
            &::before {
                display: none;
            }
            img {
                display: inline-block;
                vertical-align: bottom;
            }

            + p {
                margin-top: 18px;
            }
        }

        p {
            & + p {
                margin-top: 6px;
            }
        }
    }
    tr,
    th,
    td {
        text-align: left;
    }
}

@media screen and (min-width: 769px) {
    .shop-one__table {
        tr {
            display: grid;
            grid-template-columns: 176px auto;
            gap: 1px;
        }
        td {
            padding: 16px 22px 24px;
            background-color: #fff;

            p {
                & + a.file {
                    margin-top: 16px;
                }
            }

            .file {
                height: 40px;
                padding: 0 24px;
                border-radius: 4px;
                gap: 8px;

                &::after {
                    width: 12px;
                    height: 12px;
                    transition: 0.3s;
                }

                &.ext-fff {
                    gap: 4px;

                    &::after {
                        width: 14px;
                        height: 14px;
                    }
                }

                span {
                    padding: 0 6px;
                }

                @media (hover: hover) {
                    &:hover {
                        &::after {
                            transform: translateX(4px);
                        }
                    }
                }

                & + .file {
                    margin-top: 8px;
                }
            }

            &[data-shop="access"] {
                a {
                    &:not(.file) {
                        &::after {
                            width: 14px;
                            height: 14px;
                            margin-left: 4px;
                        }
                    }
                }

                p {
                    font-size: 1.3rem;
                }
            }

            &[data-shop="telNum"] {
                a {
                    text-decoration: none;
                }
            }

            .weekdays,
            .weekend {
                font-size: 1.5rem;
            }

            .att {
                font-size: 1.2rem;
            }
        }

        p,
        a {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__table {
        tbody {
            gap: clamp(22px, 5.5vw, 32px);
        }
        tr {
            display: flex;
            flex-direction: column;
            gap: clamp(12px, 4vw, 16px);
        }
        th {
            padding: clamp(12px, 3vw, 16px);
            min-height: 0;
        }

        td {
            p {
                & + a.file {
                    margin-top: 10px;
                }
            }
            a {
                img {
                    width: clamp(13px, 3.25vw, 15px);
                    height: clamp(13px, 3.25vw, 15px);
                    vertical-align: text-top;
                    margin-left: 2px;
                }

                
            }
            .file {
                    padding: 6px 10px 8px 12px;

                    border-radius: 4px;
                    gap: 6px;

                    &::after {
                        width: 10px;
                        height: 10px;
                    }

                    &.ext-fff {
                        gap: 2px;
                        &::after {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    span {
                        padding: 0 4px;
                    }

                    & + .file{
                        margin-top: 6px;
                    }
                }

            &[data-shop="access"] {
                a {
                    &::after {
                        width: 10px;
                        height: 10px;
                        margin-left: 4px;
                    }
                }

                p {
                    font-size: var(--fsSp--min12px);
                }
            }

            &[data-shop="telNum"] {
                a {
                    text-decoration: underline;
                }
            }

            .weekdays,
            .weekend {
                font-size: clamp(1.1rem, 2.44vw, 1.2rem);
            }

            .att {
                font-size: clamp(1.1rem, 2.89vw, 1.3rem);
            }
        }

        p,
        a {
            font-size: clamp(1.3rem, 3.25vw, 1.5rem);
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 501px) {
    .shop-one__table {
        td {
            padding: 0 clamp(12px, 3vw, 16px);
        }
    }
}

@media screen and (max-width: 768px){
    .shop-one__table{
        th{
            p{
                font-size: clamp(1.4rem, 3.7vw, 1.6rem);
            }
        }
    }
}

.shop-one__tags {
    grid-template-columns: repeat(4, 1fr);
    gap: 4px 6px;
    display: grid;
}

@media screen and (min-width: 769px) {
    .shop-one__tags {
        grid-template-rows: repeat(2, 32px);

        .tag {
            font-size: clamp(1.2rem, 0.86vw, 1.4rem);

            &:not(:has(img)) {
                padding-top: 2px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__tags {
        order: 2;
        margin: clamp(18px, 5vw, 24px) auto 0;
        width: min(480px, 100%);
    }
}

.shop-one__access-inner {
    margin-top: 48px;

    iframe {
        width: 100%;
        height: 100%;
    }

    > img {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .shop-one__tags {
        grid-template-columns: repeat(3, 1fr);

        .tag {
            padding-top: 1px;
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__access {
        margin-top: 88px;
    }
    .shop-one__access-inner {
        &:has(img) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
        &:not(:has(img)) {
            iframe {
                height: 420px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .shop-one__access {
        margin-top: clamp(50px, 16vw, 80px);
    }
    .shop-one__access-inner {
        width: min(480px, 100%);
        margin: clamp(16px, 4vw, 40px) auto 0;
        display: flex;
        flex-direction: column;
        gap: clamp(12px, 4vw, 16px);

        iframe {
            aspect-ratio: 8 / 7;
        }
    }
}

.shop-one__event {
    &:has(li:empty) {
        display: none;
    }
}

.shop-one__event-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    li {
        background-color: #fff;
        border-radius: 16px;
        padding-top: 28px;
        padding-right: 32px;
        padding-bottom: 38px;
        padding-left: 32px;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.03);
    }

    .category {
        height: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        line-height: 100%;
        font-weight: 700;
        color: #fff;
        border-radius: 50vw;

        &.campaign {
            background-color: var(--green--middle);
        }

        &.event {
            background-color: var(--blue--middle);
        }

        &.info {
            background-color: var(--yellow--dark);
        }
    }
    h3 {
        color: var(--black);
        font-size: 2.2rem;
        padding-top: 8px;
        font-weight: 700;
        letter-spacing: 0.04em;
        white-space: normal;
        text-align: left;
    }
    .outline {
        p {
            font-size: 1.6rem;
            line-height: 175%;

            em {
                font-weight: 700;
                color: var(--pink--primary);
                font-style: normal;
            }

            & + .att {
                margin-top: 16px;
            }
        }
        .att {
            font-size: 1.4rem;
            letter-spacing: 0;
            color: var(--pink--primary);

            &::before {
                content: "※";
                display: inline;
            }

            & + .att {
                margin-top: 0;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 16px;
            gap: 4px;
            align-items: start;
            margin-top: 16px;

            & + .details {
                margin-top: 10px;
            }
        }
        .label {
            background-color: var(--gray--very-light);
            display: flex;
            justify-content: start;
            align-items: center;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 130%;
            min-height: 34px;
            padding-top: 6px;
            padding-bottom: 4px;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }

        > img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__event {
        margin-top: 88px;
    }

    .shop-one__event-list {
        margin-top: 40px;
        .name {
            display: grid;
            grid-template-columns: 180px auto;
            gap: 16px;
        }
        .outline {
            display: grid;
            grid-template-columns: 372px auto;
            gap: 32px;
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__event {
        margin-top: clamp(56px, 14.22vw, 72px);
    }
    .shop-one__event-list {
        margin-top: clamp(16px, 4vw, 40px);
        li {
            display: flex;
            flex-direction: column;
            gap: clamp(16px, 4.5vw, 24px);
            padding-top: clamp(16px, 4vw, 28px);
            padding-right: clamp(16px, 4vw, 32px);
            padding-left: clamp(16px, 4vw, 32px);
            padding-bottom: clamp(26px, 7.5vw, 38px);
        }
        .category {
            display: inline-flex;
            font-size: var(--fsSp--min12px);
            height: clamp(28px, 7.5vw, 34px);
            padding: 0 clamp(16px, 4vw, 20px);
        }
        h3 {
            font-size: clamp(1.7rem, 4.75vw, 2.2rem);
        }

        .outline {
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                font-size: var(--fsSp--min12px);

                & + .att {
                    margin-top: clamp(12px, 3.5vw, 16px);
                }
            }
            .att {
                font-size: var(--fsSp--min10px);
            }

            .details {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: clamp(10px, 3vw, 16px);
            }

            .label {
                font-size: var(--fsSp--min12px);
                min-height: clamp(28px, 7vw, 30px);
            }
        }
    }
}

.shop-one__insurance-type {
    ul {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 8px;
    }

    li {
        background-color: var(--black);
        color: #fff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        height: 52px;
    }
}

@media screen and (min-width: 769px) {
    .shop-one__insurance-type {
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .shop-one__insurance-type {
        margin-top: clamp(56px, 14.22vw, 72px);

        ul {
            grid-template-columns: repeat(3, 1fr);
            width: min(480px, 100%);
            margin: clamp(16px, 4vw, 40px) auto 0;
            gap: 6px;
        }
        li {
            font-size: var(--fsSp--min11px);;
            height: clamp(38px, 10vw, 52px);
        }
    }
}

.shop-one__message {
    .row-nar {
        div {
            background-color: var(--pink--very-light);
        }
    }

    p {
        line-height: 175%;
    }
}

@media screen and (min-width: 769px) {
    .shop-one__message {
        margin-top: 80px;
        margin-bottom: 80px;

        .row-nar {
            div {
                padding-top: 48px;
                padding-right: 40px;
                padding-bottom: 40px;
                padding-left: 40px;
                border-radius: 16px;
            }
        }

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.6rem;
            margin-top: 24px;

            & + p {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__message {
        margin-top: clamp(40px, 10.67vw, 56px);
        margin-bottom: clamp(28px, 8vw, 56px);

        .row-nar {
            div {
                padding-top: clamp(24px, 6vw, 40px);
                padding-right: clamp(14px, 5vw, 24px);
                padding-left: clamp(14px, 5vw, 24px);
                padding-bottom: clamp(24px, 6vw, 40px);
                border-radius: 8px;
            }
        }
        h2 {
            text-align: left;
            font-size: clamp(1.6rem, 4.44vw, 2.2rem);
            justify-content: start;
            white-space: unset;

            &::before,
            &::after {
                display: none;
            }
        }
        p {
            font-size: var(--fsSp--min12px);
            margin-top: clamp(10px, 2.67vw, 12px);
        }
    }
}

.shop-one__shop-list {
    background-color: var(--gray--very-light);

    .current {
        display: none;
    }

    @media (hover: hover) {
        a {
            &::after {
                transition: 0.3s;
            }

            &:hover {
                &::after {
                    transform: translateX(6px);
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__shop-list {
        padding-top: 112px;
        padding-bottom: 128px;
        margin-top: 110px;

        h2 {
            font-size: 34px;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__shop-list {
        padding-top: clamp(32px, 7.11vw, 72px);
        padding-bottom: clamp(32px, 8.89vw, 48px);
        margin-top: clamp(40px, 12.44vw, 80px);
    }
}

.shop-one__other-shop {
    margin-top: 48px;

    ul {
        display: grid;

        gap: 20px 24px;
    }
    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: 62px;
        padding-top: 12px;
        padding-bottom: 10px;
        padding-right: 14px;
        padding-left: 14px;
        color: var(--pink--primary);
        font-weight: 700;

        line-height: 125%;
        background-color: #fff;
        border-radius: 4px;
        position: relative;

        &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url(../../../assets/img/common/icon/arrow--prm.svg);
            background-size: cover;
        }

        &::before {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__other-shop {
        ul {
            grid-template-columns: repeat(4, 1fr);
        }
        a {
            font-size: clamp(1.5rem, 1.36vw, 1.6rem);
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__other-shop {
        margin-top: clamp(24px, 6vw, 40px);

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(8px, 2vw, 16px);
            margin: 0 auto;
        }

        a {
            height: clamp(52px, 11.53vw, 62px);

            &::after {
                width: clamp(8px, 1.77vw, 12px);
                height: clamp(8px, 1.77vw, 12px);
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    .shop-one__other-shop {
        li {
            width: calc(100% / 3 - calc(clamp(8px, 2vw, 16px) / 1.5));
        }
        a {
            font-size: min(1.5rem, 2.3vw);

            padding-right: 8px;
            padding-left: 12px;
        }
    }
}

@media screen and (max-width: 450px) {
    .shop-one__other-shop {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        li {
            width: 100%;
        }
        a {
            font-size: min(3.2vw, 1.4rem);
            padding-left: 10px;
            padding-right: 8px;
            white-space: pre;
        }
    }
}

.shop-one__pref-list {
    ul {
        display: grid;
    }
    [data-region="kanto"] {
        a {
            background-color: #e94482;
        }
    }
    [data-region="hokkaido"] {
        a {
            background-color: #00ad8e;
        }
    }
    [data-region="tohoku"] {
        a {
            background-color: var(--yellow--dark);
        }
    }
    [data-region="chubu"] {
        a {
            background-color: var(--blue--middle);
        }
    }
    [data-region="kansai"] {
        a {
            background-color: var(--green--middle);
        }
    }
    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 46px;
        padding: 0 24px;
        border-radius: 50vw;
        color: #fff;
        font-weight: 700;
        font-size: 1.6rem;

        &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url(../../../assets/img/common/icon/arrow--fff.svg);
            background-size: cover;
        }

        &::before {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .shop-one__pref-list {
        margin-top: 48px;
        ul {
            grid-template-columns: repeat(7, 1fr);
            gap: 12px 8px;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-one__pref-list {
        margin-top: clamp(26px, 8.89vw, 42px);
        ul {
            gap: 10px 8px;
        }
        a {
            font-size: min(2.5vw, 1.5rem);
            padding: 0 clamp(16px, 3.56vw, 24px);
            height: clamp(36px, 9vw, 46px);

            &::after {
                width: clamp(8px, 3vw, 12px);
                height: clamp(8px, 3vw, 12px);
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
    .shop-one__pref-list {
        ul {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
@media screen and (max-width: 450px) {
    .shop-one__pref-list {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
        a {
            font-size: var(--fsSp--min12px);
            padding: 0 clamp(12px, 3.25vw, 14px);
        }
    }
}
