.shop {
  padding-bottom: 0 !important;
}

.shop__tab-list ul {
  display: grid;
  gap: 8px;
}
.shop__tab-list li {
  width: 100%;
  overflow: hidden;
}
.shop__tab-list .pref-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  font-size: min(1.6rem, 16px);
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  .shop__tab-list {
    margin-top: 72px;
  }
  .shop__tab-list ul {
    grid-template-columns: repeat(11, 1fr);
  }
  .shop__tab-list li {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .shop__tab-list .pref-tab {
    height: 48px;
  }
  .shop__tab-list .pref-tab[aria-selected=true] {
    background-color: #fff;
    color: var(--pink--primary);
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .shop__tab-list ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .shop__tab-list {
    margin-top: clamp(16px, 4vw, 24px);
  }
  .shop__tab-list li {
    border-radius: 4px;
  }
  .shop__tab-list .pref-tab {
    font-size: clamp(1.3rem, 3.25vw, 1.5rem);
    height: clamp(44px, 10.22vw, 48px);
  }
  .shop__tab-list .pref-tab[aria-selected=true] {
    background-color: var(--black);
    color: #fff;
  }
}
@media screen and (max-width: 450px) {
  .shop__tab-list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.shop__shop-list {
  overflow-y: hidden;
}
.shop__shop-list .row-wide {
  position: relative;
}

@media screen and (min-width: 769px) {
  .shop__shop-list {
    background-color: #fff;
    padding-top: 88px;
    padding-bottom: 144px;
  }
}
@media screen and (max-width: 768px) {
  .shop__shop-list {
    padding-top: clamp(40px, 8.89vw, 48px);
    padding-bottom: clamp(56px, 17.78vw, 96px);
  }
}
.shop__pref-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.shop__pref-one[aria-hidden=false] {
  position: relative;
  width: 100%;
  z-index: 1;
  animation: shop-pref 0.2s forwards;
}
.shop__pref-one ul {
  display: flex;
  flex-direction: column;
}

@keyframes shop-pref {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  .shop__pref-one ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 120px 72px;
  }
}
@media screen and (max-width: 768px) {
  .shop__pref-one ul {
    gap: clamp(40px, 8.89vw, 48px);
  }
}
.shop-tags {
  display: grid;
}
.shop-tags .tag {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  height: 32px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.shop-tags .tag.inactive {
  display: none;
}
.shop-tags [data-tag=station] {
  border-color: var(--green--middle);
  color: var(--green--middle);
  background-color: #fbfff6;
}
.shop-tags [data-tag=parking] {
  border-color: #e57512;
  color: #e57512;
  background-color: #fff8f1;
}
.shop-tags [data-tag=openAtNight] {
  border-color: #6c81d6;
  color: #6c81d6;
  background-color: #f3f6ff;
}
.shop-tags [data-tag=openOnWeekends] {
  border-color: var(--blue--middle);
  color: var(--blue--middle);
  background-color: #ebf8ff;
}
.shop-tags [data-tag=kids] {
  border-color: var(--yellow--dark);
  color: var(--yellow--dark);
  background-color: #fffbf3;
}
.shop-tags [data-tag=femaleStaff] {
  border-color: #cc62a5;
  color: #cc62a5;
  background-color: #fff5fb;
}
.shop-tags [data-tag=onlineApp] {
  border-color: #005eb6;
  color: #005eb6;
  background-color: #eef6ff;
}
.shop-tags [data-tag=inbody] {
  border-color: #8b0025;
  background-color: #fffafb;
}
.shop-tags [data-tag=inbody] img {
  height: 14px;
  margin-top: 2px;
}

@media screen and (min-width: 769px) {
  .shop-tags .tag {
    font-size: clamp(1.1rem, 1.07vw, 1.4rem);
  }
}
@media screen and (max-width: 768px) {
  .shop-tags .tag {
    padding-top: 1px;
  }
  .shop-tags .tag img {
    height: clamp(12px, 2.67vw, 1.4rem);
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .shop-tags .tag {
    font-size: clamp(12px, 2.4vw, 1.3rem);
  }
}
@media screen and (max-width: 450px) {
  .shop-tags .tag {
    font-size: clamp(1.1rem, 3.14vw, 1.2rem);
  }
}
.shop__one {
  display: flex;
  flex-direction: column;
  grid-row: span 1;
}
.shop__one .city {
  background-color: var(--black);
  font-weight: 700;
  color: #fff;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
}
.shop__one .name {
  font-weight: bold;
}
.shop__one .name::after {
  content: "";
  display: inline-block;
  background-image: url(../../../assets/img/common/icon/arrow.svg);
  background-size: cover;
}
.shop__one .shop-tags {
  width: min(362px, 100%);
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}
.shop__one .btns {
  width: min(362px, 100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: auto;
}
.shop__one .btns a {
  border-radius: 4px;
  box-shadow: none;
}
.shop__one .learn-more,
.shop__one .phone-call {
  background-color: var(--pink--dusty-light);
  color: var(--pink--primary);
}
.shop__one .learn-more::after,
.shop__one .phone-call::after {
  background-image: url(../../../assets/img/common/icon/arrow--prm.svg);
}

@media screen and (min-width: 769px) {
  .shop__one {
    gap: 10px;
  }
  .shop__one .city {
    height: 28px;
    padding: 0 18px;
    font-size: 1.3rem;
  }
  .shop__one .name {
    font-size: 2rem;
  }
  .shop__one .name::before {
    display: none;
  }
  .shop__one .name::after {
    width: 12px;
    height: 12px;
    margin-left: 6px;
  }
  .shop__one .shop-tags {
    margin-top: 6px;
  }
  .shop__one .access {
    margin-bottom: 8px;
  }
  .shop__one .access p {
    font-size: 1.4rem;
  }
  .shop__one .btns a {
    font-size: clamp(1.3rem, 1.27vw, 1.6rem);
    height: 50px;
    gap: clamp(4px, 0.39vw, 6px);
    padding-left: 4px;
  }
}
@media screen and (max-width: 768px) {
  .shop__one .city {
    font-size: clamp(1.2rem, 2.67vw, 1.3rem);
    padding: 4px 16px;
    margin-bottom: 4px;
  }
  .shop__one .name {
    font-size: clamp(1.7rem, 4vw, 2rem);
  }
  .shop__one .name::after {
    width: 10px;
    height: 10px;
    margin-left: 6px;
  }
  .shop__one .shop-tags {
    margin-top: clamp(10px, 2.22vw, 12px);
  }
  .shop__one .access {
    margin-top: 10px;
  }
  .shop__one .access p {
    line-height: 175%;
    font-size: clamp(1.1rem, 2.67vw, 1.4rem);
  }
  .shop__one .btns {
    margin-top: clamp(14px, 3.11vw, 16px);
    width: 100%;
  }
  .shop__one .btns a {
    font-size: clamp(1.3rem, 3.11vw, 1.6rem);
    height: clamp(44px, 10.67vw, 50px);
    padding-left: 4px;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .shop__one .shop-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
  }
  .shop__one .shop-tags .tag {
    width: calc(33.3333333333% - 4px);
  }
}
@media screen and (max-width: 450px) {
  .shop__one .shop-tags {
    width: 100%;
  }
}
.shop-one__inbody {
  width: 100%;
}
.shop-one__inbody picture,
.shop-one__inbody img {
  width: 100%;
}
.shop-one__inbody.inactive {
  display: none;
}

@media screen and (min-width: 769px) {
  .shop-one__main + .shop-one__inbody {
    margin-top: -64px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .shop-one__main + .shop-one__inbody {
    margin-top: -40px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 450px) {
  .shop-one__main + .shop-one__inbody {
    margin-top: -24px;
    margin-bottom: clamp(24px, 7.11vw, 32px);
  }
}
@media (hover: hover) {
  .btn.btns a:hover {
    transform: none;
  }
}/*# sourceMappingURL=style.css.map */